@using Assets
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{ Layout = "_Layout"; }
@{
    var idRaw = Context.Request.Query["id"].ToString();
    if (!long.TryParse(idRaw, out var itemId) || itemId <= 0)
    {
        Context.Response.Redirect("/404");
        return;
    }

    var connStr = Configuration.GetConnectionString("Default");
    if (string.IsNullOrWhiteSpace(connStr))
    {
        Context.Response.Redirect("/404");
        return;
    }

    var resolvedId = AssetHelpers.ResolveLinkedAssetId(connStr, itemId);

    var isPost = string.Equals(Context.Request.Method, "POST", StringComparison.OrdinalIgnoreCase);
    var action = isPost ? Context.Request.Form["Action"].ToString() : string.Empty;
    var updateSucceeded = false;
    DateTime? updateTime = null;

    if (isPost && string.Equals(action, "Cancel", StringComparison.OrdinalIgnoreCase))
    {
        Context.Response.Redirect($"/catalog/{itemId}/haaa");
        return;
    }

    if (isPost && string.Equals(action, "Save", StringComparison.OrdinalIgnoreCase))
    {
        var postedName = Context.Request.Form["ctl00$cphRoblox$NameTextBox"].ToString();
        var postedDescription = Context.Request.Form["ctl00$cphRoblox$DescriptionTextBox"].ToString();
        var sellCheckboxRaw = Context.Request.Form["ctl00$cphRoblox$SellThisItemCheckBox"].ToString();
        var onSalePosted = !string.IsNullOrWhiteSpace(sellCheckboxRaw);
        var priceRaw = Context.Request.Form["ctl00$cphRoblox$RobuxPrice"].ToString();
        var allowCommentsRaw = Context.Request.Form["ctl00$cphRoblox$EnableCommentsCheckBox"].ToString();
        var allowCommentsPosted = !string.IsNullOrWhiteSpace(allowCommentsRaw);
        var genreRaw = Context.Request.Form["ctl00$cphRoblox$actualGenreSelection"].ToString();

        int parsedGenre = 1;
        if (!string.IsNullOrWhiteSpace(genreRaw) && int.TryParse(genreRaw, out var tmpGenre) && tmpGenre >= 1 && tmpGenre <= 15)
        {
            parsedGenre = tmpGenre;
        }

        long parsedPrice = 0;
        if (!string.IsNullOrWhiteSpace(priceRaw))
        {
            var digitsOnly = new string(priceRaw.Where(char.IsDigit).ToArray());
            if (!string.IsNullOrWhiteSpace(digitsOnly) && long.TryParse(digitsOnly, out var tmp) && tmp >= 0)
            {
                parsedPrice = tmp;
            }
        }

        if (!onSalePosted)
        {
            parsedPrice = 0;
        }

        var assetsRepo = new AssetsRepository();
        try
        {
            if (!string.IsNullOrWhiteSpace(postedName))
            {
                assetsRepo.UpdateAssetMetadataAsync(connStr, resolvedId, postedName, postedDescription)
                    .GetAwaiter().GetResult();
            }

            assetsRepo.UpdateAssetSaleAsync(connStr, resolvedId, onSalePosted, parsedPrice)
                .GetAwaiter().GetResult();

            assetsRepo.UpdateAssetAllowCommentsAsync(connStr, resolvedId, allowCommentsPosted)
                .GetAwaiter().GetResult();

            assetsRepo.UpdateAssetGenreAsync(connStr, resolvedId, parsedGenre)
                .GetAwaiter().GetResult();

            updateSucceeded = true;
            updateTime = DateTime.Now;
        }
        catch
        {
        }
    }

    var repo = new AssetMetadataRepository();
    AssetRecord record;
    try
    {
        record = repo.GetAssetByIdAsync(connStr, resolvedId).GetAwaiter().GetResult();
    }
    catch
    {
        Context.Response.Redirect("/404");
        return;
    }

    if (record == null)
    {
        Context.Response.Redirect("/404");
        return;
    }

    var assetName = record.Name ?? string.Empty;
    var assetTypeLabel = AssetTypeNames.GetConfigureLabel(record.AssetTypeId);
    var assetDescription = record.Description ?? string.Empty;
    var primaryThumb = string.IsNullOrWhiteSpace(record.HighResThumbnailUrl)
        ? record.ThumbnailUrl
        : record.HighResThumbnailUrl;
    var assetThumbnail = string.IsNullOrWhiteSpace(primaryThumb)
        ? "/images/RobloxLogo.png"
        : primaryThumb;
    var onSale = record.OnSale;
    var assetPrice = record.Price;
    var allowComments = record.AllowComments;
    var assetGenre = record.Genre;
    var minPrice = 2;
}

<!DOCTYPE html>
<html>
<head>
<title>
	Roblox: Configure T-Shirt
</title>

<link rel="stylesheet" href="~/CSS/Pages/Item/Edit.css">



<script type='text/javascript' src='/JS/lib/ajax/jQuery/jquery-1.11.1.min.js'></script>
<script type='text/javascript'>window.jQuery || document.write("<script type='text/javascript' src='/js/lib/jquery/jquery-1.11.1.js'><\/script>")</script>
<script type='text/javascript' src='/JS/lib/ajax/jquery.migrate/jquery-migrate-1.2.1.min.js'></script>
<script type='text/javascript'>window.jQuery || document.write("<script type='text/javascript' src='/js/lib/jquery/jquery-migrate-1.2.1.js'><\/script>")</script>


<script type='text/javascript' src='/JS/roblox.js'></script>
<script type='text/javascript' src='/JS/jquery.tipsy.js'></script>
<script type='text/javascript' src='/JS/AjaxAvatarThumbnail.js'></script>
<script type='text/javascript' src='/JS/extensions/string.js'></script>
<script type='text/javascript' src='/JS/StringTruncator.js'></script>
<script type='text/javascript' src='/JS/json2.min.js'></script>
<script type='text/javascript' src='/JS/GoogleAnalytics/GoogleAnalyticsEvents.js'></script>
<script type='text/javascript' src='/JS/MasterPageUI.js'></script>
<script type='text/javascript' src='/JS/jquery.cookie.js'></script>
<script type='text/javascript' src='/JS/polyfill/ie7localStorage.js'></script>
<script type='text/javascript' src='/JS/JSErrorTracker.js'></script>
<script type='text/javascript' src='/JS/RobloxCookies.js'></script>
<script type='text/javascript' src='/JS/RobloxEventManager.js'></script>
<script type='text/javascript' src='/JS/GoogleEventListener.js'></script>
<script type='text/javascript' src='/JS/MongoEventListener.js'></script>
<script type='text/javascript' src='/JS/SiteTouchEvent.js'></script>
<script type='text/javascript' src='/JS/jPlayer/2.9.2/jquery.jplayer.min.js'></script>
<script type='text/javascript' src='/JS/extensions/Thumbnails.js'></script>
<script type='text/javascript' src='/JS/extensions/ThreeDeeThumbnails.js'></script>
<script type='text/javascript' src='/JS/extensions/AnimatedThumbnails.js'></script>
<script type='text/javascript' src='/JS/3D/three.js'></script>
<script type='text/javascript' src='/JS/3D/MTLLoader.js'></script>
<script type='text/javascript' src='/JS/3D/OBJMTLLoader.js'></script>
<script type='text/javascript' src='/JS/3D/tween.js'></script>
<script type='text/javascript' src='/JS/3D/RobloxOrbitControls.js'></script>
<script type='text/javascript' src='/JS/Thumbnails/ThumbnailView.js'></script>
<script type='text/javascript' src='/JS/Thumbnails/ThumbnailSpinner.js'></script>
<script type='text/javascript' src='/JS/Linkify.js'></script>
<script type='text/javascript' src='/JS/CookieUpgrader.js'></script>
<script type='text/javascript' src='/JS/utilities/stringFormat.js'></script>
<script type='text/javascript' src='/JS/Tracking/SignupTrackingScript.js'></script>
<script type='text/javascript' src='/JS/Tracking/AsyncGoogleOnScript.js'></script>
<script type='text/javascript' src='/JS/DeveloperConsoleWarning.js'></script>
<script type='text/javascript' src='/JS/JavaScriptEndpoints.js'></script>
<script type='text/javascript' src='/JS/utilities/performance.js'></script>
<script type='text/javascript' src='/JS/utilities/lazyLoad.js'></script>
<script type='text/javascript' src='/JS/RobloxEventStream.js'></script>
<script type='text/javascript' src='/JS/Game/GamePlayEvents.js'></script>
<script type='text/javascript' src='/JS/Events/UserInteractionsEvent.js'></script>
<script type='text/javascript' src='/JS/Events/PageHeartbeatEvent.js'></script>
<script type='text/javascript' src='/JS/services/userService.js'></script>
<script type='text/javascript' src='/JS/utilities/ExponentialBackoff.js'></script>
<script type='text/javascript' src='/JS/utilities/ExponentialBackoffSpecification.js'></script>
<script type='text/javascript' src='/JS/XsrfToken.js'></script>
<script type='text/javascript' src='/JS/Interstitial.js'></script>
<script type='text/javascript' src='/JS/jquery.ba-postmessage.min.js'></script>
<script type='text/javascript' src='/JS/DropDownNav.js'></script>
<script type='text/javascript' src='/JS/UpsellAdModal.js'></script>
<script type='text/javascript' src='/JS/widgets/jquery.mCustomScrollbar.concat.min.js'></script>
<script type='text/javascript' src='/JS/GPTAdScript.js'></script>
<script type='text/javascript' src='/JS/VideoPreRollDFP.js'></script>
<script type='text/javascript' src='/JS/CharacterSelect.js'></script>
<script type='text/javascript' src='/JS/MadStatus.js'></script>
<script type='text/javascript' src='/JS/PlaceLauncher.js'></script>
<script type='text/javascript' src='/JS/leancore/libs/bootstrap.min.js'></script>
<script type='text/javascript' src='/JS/leancore/libs/underscore-min.js'></script>
<script type='text/javascript' src='/JS/leancore/BootstrapNamespacing.js'></script>
<script type='text/javascript' src='/JS/leancore/Navigation.js'></script>
<script type='text/javascript' src='/JS/Reference/widget.js'></script>
<script type='text/javascript' src='/JS/jquery.simplemodal-1.3.5.js'></script>
<script type='text/javascript' src='/JS/leancore/iesupport/jquery.placeholder.js'></script>
<script type='text/javascript' src='/JS/GameLauncher.js'></script>
<script type='text/javascript' src='/JS/GameLaunchLogger.js'></script>
<script type='text/javascript' src='/JS/ProtocolHandlerClientInterface.js'></script>
<script type='text/javascript' src='/JS/GameLaunchAdRefresher.js'></script>
<script type='text/javascript' src='/JS/Navigation/ShopAmazon.js'></script>
<script type='text/javascript' src='/JS/SignalR/jquery.signalr-2.2.0.js'></script>
<script type='text/javascript' src='/JS/SignalR/SignalRAbortAsyncPatch-2.2.0.js'></script>
<script type='text/javascript' src='/JS/Notifications/RealTime/signalRConnectionWrapper.js'></script>
<script type='text/javascript' src='/JS/Notifications/RealTime/Sources/signalRSource.js'></script>
<script type='text/javascript' src='/JS/Notifications/RealTime/client.js'></script>
<script type='text/javascript' src='/JS/Notifications/RealTime/factory.js'></script>
<script type='text/javascript' src='/JS/Notifications/RealTime/stateTracker.js'></script>
<script type='text/javascript' src='/JS/Notifications/RealTime/Sources/hybridSource.js'></script>
<script type='text/javascript' src='/JS/Notifications/RealTime/Sources/crossTabReplicatedSource.js'></script>
<script type='text/javascript' src='/JS/utilities/CrossTabCommunication/Kingmaker.js'></script>
<script type='text/javascript' src='/JS/utilities/CrossTabCommunication/PubSub.js'></script>
<script type='text/javascript' src='/JS/Notifications/AuthenticationNotificationsHandler.js'></script>

<script type='text/javascript' src='/JS/modules/Pages/Catalog.js'></script>

<script type='text/javascript' src='/JS/modules/Pages/CatalogShared.js'></script>

<script type='text/javascript' src='/JS/modules/Widgets/AvatarImage.js'></script>

<script type='text/javascript' src='/JS/modules/Widgets/DropdownMenu.js'></script>

<script type='text/javascript' src='/JS/modules/Widgets/GroupImage.js'></script>

<script type='text/javascript' src='/JS/modules/Widgets/HierarchicalDropdown.js'></script>

<script type='text/javascript' src='/JS/modules/Widgets/ItemImage.js'></script>

<script type='text/javascript' src='/JS/modules/Widgets/PlaceImage.js'></script>

<script type='text/javascript' src='/JS/modules/Widgets/SurveyModal.js'></script>

<script type='text/javascript' src='/JS/modules/Widgets/SurveyModal.js'></script>

<script type='text/javascript' src='/JS/angular/angular.min.js'></script>
<script type='text/javascript' src='/JS/angular/angular-sanitize.min.js'></script>
<script type='text/javascript' src='/JS/angular/angular-ui-router.min.js'></script>
<script type='text/javascript' src='/JS/angular/angular.ng-modules.js'></script>
<script type='text/javascript' src='/JS/angular/angular-elastic.js'></script>
<script type='text/javascript' src='/JS/viewapp/app.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/robloxService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/cacheService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/chatDispatchService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/eventStreamService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/googleAnalyticsEventsService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/httpService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/hybridService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/imagesService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/localStorageService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/numericCodeService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/realtimeService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/retryService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/urlService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/userService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/performanceService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/services/regexService.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/constants/keyCode.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/constants/callBackTypes.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/constants/deviceTypes.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/constants/performanceMarkLabels.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/helpers.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/capitalize.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/firstLetter.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/formatString.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/getPercentage.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/htmlToPlainText.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/isEmpty.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/orderList.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/parseTimeStamp.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/positive.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/reverse.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/filters/startsWith.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/autoResizeDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/blurDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/clickOutsideDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/enterEscapeShiftDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/focusDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/focusMeDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/formValidationDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/imageRetryWithLazyLoadDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/inputMaxLength.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/keyPressEnterDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/keyPressEscapeDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/numbersOnlyDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/onFinishRenderDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/phoneDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/common/directives/switcherDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/modal/modal.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/modal/constants/modalOptions.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/modal/services/modalService.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/modal/controllers/modalController.js'></script>

<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/notificationStream.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/notificationStreamIcon.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/filters/abbreviateCountFilter.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/constants/layoutLibrary.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/constants/signalR.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/services/notificationStreamUtility.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/services/notificationStreamService.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/controllers/notificationStreamIconController.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/controllers/notificationStreamController.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/controllers/notificationsController.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/directives/notificationIndicatorDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/directives/notificationStreamBodyDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/directives/notificationContentDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/directives/notificationCardDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/directives/friendRequestDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/directives/lazyLoadingDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/directives/clickInCardDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/directives/privateMessageDirective.js'></script>
<script type='text/javascript' src='/JS/viewapp/widgets/notificationStream/directives/testDirective.js'></script>

<script type='text/javascript' src='/JS/jquery.filter_input.js'></script>
<script type='text/javascript' src='/JS/My/myitem.js'></script>
<script type='text/javascript' src='/JS/pageStyleNotifications.js'></script>
<script type='text/javascript' src='/JS/utilities/dialog.js'></script>
<script type='text/javascript' src='/JS/utilities/popover.js'></script>
<script type='text/javascript' src='/JS/TosModalCheck.js'></script>
<script type='text/javascript' src='/JS/GenericModal.js'></script>
<script type='text/javascript' src='/JS/GenericConfirmation.js'></script>
<script type='text/javascript' src='/JS/YouTube/RobloxYouTube.js'></script>

<script type="text/javascript">
    if (Roblox && Roblox.PageHeartbeatEvent) {
        Roblox.PageHeartbeatEvent.Init([2,8,20,60]);
    }
</script>

<script type="text/javascript">
        $(function () {
            Roblox.JSErrorTracker.initialize({ 'suppressConsoleError': true});
        });
    </script>
</head>
<body id="rbx-body"
    class=""
    data-performance-relative-value="0.005"
    data-internal-page-name=""
    data-send-event-percentage="0.01">
    <div id="roblox-linkify" data-enabled="true" data-regex="(https?\:\/\/)?(?:www\.)?([a-z0-9\-]{2,}\.)*(((m|de|www|web|api|blog|wiki|help|corp|polls|bloxcon|developer|devforum|forum)\.roblox\.com|robloxlabs\.com)|(www\.shoproblox\.com))((\/[A-Za-z0-9-+&amp;@@#\/%?=~_|!:,.;]*)|(\b|\s))" data-regex-flags="gm" data-as-http-regex=""></div>
    <script type="text/javascript">
        if (top.location != self.location) {
            top.location = self.location.href;
        }
    </script>

<form name="aspnetForm" method="post" action="/my/item.aspx?id=@itemId" onsubmit="javascript:return WebForm_OnSubmit();" id="aspnetForm" class="nav-container no-gutter-ads">
<div>
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="Action" id="Action" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="kmx5qjv7L5/16Gx372mK7/fJyoH/IGhzLSwqUAwqEDCQnBvjmz+AmD5Q4J8+jURrzsY+HhHm+smhTQi6bl95ajyAlLEeCXwWO5f8JflERicEVk2z9uSsV1SqmxTELDC6ds5cxzPZy9buBtuF3fEIq/PhbetcCGl9BQI/oJvyPZO0LjjAnD44te/Lgs7wty+2GOTRGuwPV007epERnovieMr3pt3O6e6Xp+XEBOWbcRAPxQiQseyF0mTuwr3/F4ylsLcpSZB+MWMxSyPut0Mgtz6RJ9tP4/pHTG3NEd9ndD2CzyexG51hxd77l12CXHikCso1poua4QEaTw0Dc66Vq514H7tylNtREaIwKkNbp6TNsNJGT9BCZJdN8hVF7Tl7WENNLNnVRfhbWO/C+fPJygB9NqzhyFBc/Cj/olKFqNdJmnHDnWre+pBaoK4Qau+losl4c1vfRPFwMUuR77m8dl+qX3VlTFrRIO23sVNQDaPEW4SfVBkqFQ34wftUzmPmievAp0Rkyo8Cnx6NiRjCtN16vD75VpcV6hEjCbmc5wWB26zB9FmAGJjZgOQBtrpP2hmKWmANI7K4he8664ytjS31r6iqklJlBJLz8DUPYTLZm78HjasYdKcaAbWQIKzkGlOcIbRK2t9Sq5xKDy8Is/eocKC7yUxcem8QuGWU+YdiT+wBJzABVrShy2ASd0/QLBqv7mFLiD+ZDzCKaI2mnmUrski2a0/ajnC6A7xXSLQDN6xnVRE/cSgVektuYsBTDR3jQrdDxFZLJmfgIEbDGFqKbmedBGz9BYAs+qQFG5mh+KkQ8YCUvzkjNa1beo8pSWWgDpcO4k9DMn1J9l37e3cxBzzWZzRlTAzFozOZKbtqo6GhZndCaR1st7gn6uHlJbOVwTGCSHP+Mc3MY0NquF/A7jpw6CYyn22t+uzL9DAD/cXNWwXVgJ+Kx1sIf5RRRpGYXoSxhWryEUtWNQjqQE0RcNLVEPvhQvE5IhLQq6A06OnDZQoLxXuFXPagy/3lWDfw+ZCcGynQgPumZ83mLk0dwxyq/Ubz2V0S5M7TNk8KNa4qpniUeK54/0F90o5+swvC4unAdmD9iTYE5bNT03JeORioKNC0pdjdTQuL2qm9dLVCnNBq36cEKMFTjcLVLn4x08KVypNm8GDzDy0uJ1g31wA7gWTI8f9CUgI1Zfk4jUCFOSXGNiIOdTy1cCCYmzh2hAD9HLYBAjjCzCMqY20LVohnz8EFKdAY0Xnsz7jC+XAX632DXPuwKivE5i5DDhRnj2fwldqqUMJI1evCFBeeWRiy+v4uEsxfDUCOHpkum/yLeOdHPXyh5ysx/aJqGRYKq+MdWq6bLhG9LIAJRWBpP7JkPSPWHdPV7UTpxtn24UAXFoJhwLH96OCEmE78Q4HRikIVT0WmW+tpjD+GTy7EP6CgjqnxFBTLW1HxAMJqW+wbYinlkdrkjjWLEiN60PBXp3wa0oykxq5w6UMERV0vAQQj6XlQRjJh+ZWJwPOIbGzoSPcoO7r812EaPUz/ZWIBGv1IZ54v21i7EZ0dliADzwuBAZwGIfpRmibnn5fAOfzia+hUddxaIqK3igi1ng5JNJnd51J2Yq+9GQzelp6ycVQScJzCODEFJsWGna6UL9P2cK88Ek1F0oUB0446D9fsWG9ZUhwNt6S+Lo1lRD0I5fwgBAuRTS+gqF1gwB7pt0QcyApgQuAF9fYkG2trv5Tq42icy6g62D69gatfOYKGU4VDCeVe7qVT+nrzhPhOlN4Of+ie51ui9ot6cQkUCGAUzBUyAXtNzNET/OYP8F9OqQsGR/3YjWWgPnjThW4EE6rOEHr213hAfJAPyIBX6KW16QB3oL7Eqh9NIZE0wQw35KScMvEpAE0jpPu2+xonXo2yPh0RiIqZ/apbYVfkFsc5wk1By6ugQlOczPLpDqFWynxxbquViyStF7GmT/NHc+pATLX5cEEAUiVq9qqAQ3L9ac40p+bHwopj8CHrG8inIAzvnWa6uW8Uu1SQDPxX651k9fDI2X4DK+M5GkYWxIycbXW1LR/2uiHfbzxwJW0UtY6JTUk1LGufC9NOV56txNskHXRBFlHmT9ELcWqeHfQr+k58MILPwcVHd0Gv5KlBJwfzEo6xKpzsM842+ob6TLlthFKLXOKe7bjcF9yjNuvcgIY4NGtHxLVD7Pnfwv+4HPx+d86Vf6Uj7CqdY1yRJeEX6NqX4Q1MKyEctLRJPBq/z0B4uB1zMZZgv9cJWWLVw6VC2qaHSWXhEhB+ygFqQCWXFE7btF5YygBsIKO4ktnIxpyj0lTRIMPZk1vrfh5HPMyYk1jo1jKXU0bABAOD6/4HJUv81lUFc3RhbGQbCq+Ouh+kMx+IXHEJ2i20YWk+8ZV4hq7+Gdt/Gome/8a4rYwhU2t/1UX6RWjbGoOq79wVULAur8ONnBQPhPEWGjC10LOvp6CAmx1vr7+nrGZNRKFaX/bGWrLLEr/qc2d4COUEq7VyvmvjO25IBQo/Kmy3ZoqjByqDM3WA6Oj68TbfqdyXo+yjhya+HiZg9Dm84m7uNpYFOYF2kOmzKu7c/RxqgICxOS0/waLrXf5YV+KPDdW9wtz4BvUhgpde2moejeOSuCkxugUvwbhhC8Z7huZol2vDdWBbvsTqVHucBIHep4TRNhktyDOBvxBzOnI+pxLwZ9xWSsq/smArG7N2o2gQyRheLVhEdZ3qVItqx0K5veaqA4q44Rl59ciCq85pYJD7ps/wq88fUqThfp6QKR7vI8mg49nUlRYWKbLKu5i0k7zS3q8JHPivvNPfBarF4uv8M8sijYX+VUuI10nUr/+uOO3e+tPQaeUx5EazkEgwafR5/Orupb8Z4Mi+Sq6uBEQsE8hJivmkUHoqC6EIB9RlVEiYIgHm1qOe7RdUsCVgVpOS8+/ouUkoR2s6RSvENIbAYWOh3x0Ey1y7mkDYJmMYHtO2HpV3HeOcUmmIPE3TQyMeHKz7oFiBIzVrKWRuF0L02abNoClHJleK6t/ihFjjuYDlHVPy9IUYOS++UZQvorFuQzdPwpnYY/S+3fZoQv1i+AvUzJJFqPNgwGUWOUU9N5n5tgZxg0VAP53rc/W5I0prWA/Tpfw07XXjra+SSvn2MyYuHbd9+f8wgaaDxdx8uBC04KtIKF2xEgzi18wU4HNrWvRlWvWfvE/rJ4Q/jHWH4If0cvAlj95x+c7vo2TzKQJqcp850amYeFmhW5KTQOouCE+izhmq505QDND5lqQcenOhyingVY5lcEhGBnIUyQdGL2HelgFNyLyqIdaygKapWM675HOfQPKN8ReJRZo/QQA+uc5g5o3HQzUkOvqQBMCBGgUyCfY3Cz7vY580pt9KazA5u11axpdp3uL8gc8CstgBTk/+FUqXckw/inhbeSIv1dqhpo2SklCRvaHqb/+3C9S/NBJd1OQEOhYi0BPBGNsyYtdZfJ1kWrkUX0/7BDWjqbaoq53y1Qm8Zyva4hmqWo4qDiNtR9uum4TwqzyZw0Ma0/vrh1SpYcZkZZITQJsqAxg0wxZD6tzQWpXS92f/aZHEH47oz88fWd7JEBt2EZiQTBSfyzA11EX/uPrz2sgRvKk9HcVJWEO0+TwFR56rJGRest/V12p5ijkh/68FBb7xwKmzGN8WRID/dR4qHvRG91Bcr2BkqaWcQxbrklJwv0MIi2lLrt1RE8ntKid8K38+SYxdXJP8MK3LuSTuROUho7oiv9t3WyQ31mh2P4sTgU5f1UiLCRT4wBYhuGS4n2nUISfUXicyQjsznXw715ZK10InTtURmrdRQU8IK8yMiI4JZ2UxYqftiW717MYweNRRt2N5dms2E3LGlCLeC10oVmnwiFpg/Yx/QhFCydyB9vMdjbJ/BUBalPRmpqNWdmqgtpLVScIBa3ec6gPSlocKK2WRaRfp7utN/4/eVPWXW9OOwpRqSM7e6uwfSh41sT8IZYKAxUNyDizzXF7YP8sCcsuR0xhhvQMUGdn7MhRY" />
</div>


<script src="https://ajax.aspnetcdn.com/ajax/4.5.2/1/WebForms.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
window.WebForm_PostBackOptions||document.write('<script type="text/javascript" src="/WebResource.axd?d=pynGkmcFUV13He1Qd6_TZH6GgOgBQtqMPCPjRUnhj_pzNesAXKuAdu2pj-Sq-3JDJIgwEw2&amp;t=636125480399126630"><\/script>');//]]>
</script>



<script src="https://ajax.aspnetcdn.com/ajax/4.5.2/1/WebUIValidation.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/4.5.2/1/MicrosoftAjax.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
(window.Sys && Sys._Application && Sys.Observer)||document.write('<script type="text/javascript" src="/ScriptResource.axd?d=NJmAwtEo3Ipnlaxl6CMhvumliVar4i2j2lMD3IoEyWJLzR5nHuzAduQUc0aL2Mlk6x33pKXl4t8wV-HcuHw6oBnS1lwzKesKcNRQDsG9ufrF4--3-_YdpMr_CHZuNtX0ejV8Lq6JG6Taji5KieUXCTacPbQ1&t=4794f07b"><\/script>');//]]>
</script>

<script src="https://ajax.aspnetcdn.com/ajax/4.5.2/1/MicrosoftAjaxWebForms.js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
(window.Sys && Sys.WebForms)||document.write('<script type="text/javascript" src="/ScriptResource.axd?d=dwY9oWetJoJoVpgL6Zq8OC_Qyj6iPZ9-IhfgU1PKd92NqwesSi5IgR2kHUAQCLPPKv5dmGb59sQmqQu3G6_D3NKJrjUgXZeod0TXb9neDij-vtT2tW5WrVuyLXf9BqECFbVGd3-sTKQ_7e03iLz9XRbz2Yc1&t=4794f07b"><\/script>');//]]>
</script>

<script src="/ScriptResource.axd?d=MMx7FdNka0wXjJtUyRusafeQUsla4hkUYihX5GYbk06epwiGdsT2wm3JTeiwW_q1GY6eAiEc1i8TIKY-1_JFOQIBbh4iLoE-Y-bITJrZNbMX4pP29spLWDN6LNCfAyUP5xncFY-YPJOAurbYx9CeKWEkLv9yhjkdygJv_TvjL5JKty8RYz3zypcwsF-0Qd1d54FB6qV7wTA2-5dQwY7b1h4ie241" type="text/javascript"></script>
<script src="/Thumbs/Asset.asmx/js" type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function WebForm_OnSubmit() {
if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
return true;
}
//]]>
</script>

<div>

	<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="6B015794" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="o97KDu8gR6YhpfORUIb18LbfpARh85V8pQ8xh1bIV6sELEc1XkzxdfGvY/l/lfUZIl7/dm/aTPHaDVsuRlUCHa8xtgF2NUptweMbUJLapFM4NZr1tlvBs25hE4cEPlT2y/Y8b8G4i4Vw9O3qWFEq45a01ylRu+7i87tqQQYRixSmVa9KXdQ3llNNuSBLLZZLL9SO5ALiApu2siOsxIxR7OwGA/MIONm7txY2p7XKDGODnqA6SXUnAbgIBpCKiDBPTEBiqRorlQ2+wgcI+umWipGdgiOICtNDWNQaRil1Um/YmA83n2E+mHC7yJhRXp7kbCTQeg==" />
</div>
    <div id="fb-root">
    </div>
    <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager', 'aspnetForm', ['tctl00$cphRoblox$VersionHistoryPanel',''], [], [], 90, 'ctl00');
//]]>
</script>



        <div id="navContent" class="nav-content logged-in"><div class="nav-content-inner">
    <div id="MasterContainer" >
        

            </div>
        
        
        <div id="BodyWrapper">
            
            <div id="RepositionBody">
                <div id="Body" class="body-width">
                    
    
    
     


    <div id="EditItemContainer">
        <h1>Configure @assetTypeLabel</h1>
        <div>
            <div id="EditItem" style="width:890px;">
                <a href="javascript:history.back();">Back</a>
                <div id="ctl00_cphRoblox_ConfirmationPanel">
@if (updateSucceeded && updateTime.HasValue)
{
                    <div class="status-confirm">
                        Your changes to the item have been saved. (@updateTime.Value.ToString("h:mm:ss tt"))
                    </div>
}
                </div>
                
                <div id="ItemName">
                    <span id="ctl00_cphRoblox_NameLabel" class="form-label">Name:</span><br />
                    <input name="ctl00$cphRoblox$NameTextBox" type="text" value="@assetName" maxlength="50" id="ctl00_cphRoblox_NameTextBox" class="TextBox" />
                    <span id="ctl00_cphRoblox_NTBRFV" style="color:Red;visibility:hidden;">A Name is Required</span>
                </div>
                <div id="ItemThumbnail">
                    <a id="ctl00_cphRoblox_rbxGalleryAssetThumbnail_rbxAssetImage" class=" notranslate notranslate" title="@assetName" onclick="__doPostBack(&#39;ctl00$cphRoblox$rbxGalleryAssetThumbnail$rbxAssetImage&#39;,&#39;&#39;)" style="display:inline-block;height:230px;width:420px;cursor:pointer;">
                        <img src="@assetThumbnail" height="230" width="420" border="0" alt="@assetName" class=" notranslate notranslate" />
                    </a>
                </div>
                <div id="ItemDescription">
                    <span id="ctl00_cphRoblox_DescriptionLabel" class="form-label">Description:</span><br />
                    <textarea name="ctl00$cphRoblox$DescriptionTextBox" rows="2" cols="20" id="ctl00_cphRoblox_DescriptionTextBox" class="text" style="height:150px;width: 410px;padding: 5px;">@assetDescription</textarea>
                </div>
                
                <div class="Buttons">
                    <a id="ctl00_cphRoblox_SubmitButtonTop" tabindex="4" class="btn-small btn-neutral" href="javascript:void(0);" onclick="document.getElementById('Action').value='Save'; document.getElementById('aspnetForm').submit(); return false;">
                        Save
                    </a>&nbsp;
                    <a id="ctl00_cphRoblox_CancelButtonTop" tabindex="5" class="btn-small btn-negative" href="javascript:void(0);" onclick="document.getElementById('Action').value='Cancel'; document.getElementById('aspnetForm').submit(); return false;">
                        Cancel
                    </a>
                </div>
                <div id="ctl00_cphRoblox_SellThisItemPanel">
	
                    <div id="SellThisItem">
                        <fieldset title="Sell this Item">
                            <legend id="ctl00_cphRoblox_SellLegend">Sell this Item</legend>
                            <div id="ctl00_cphRoblox_AssetSellSuggestion" class="Suggestion">
                                Check the box below and enter a price if you want to sell this item in the Roblox
                                catalog. Uncheck the box to remove the item from the catalog.
                            </div>
                            <div class="SellThisItemRow">
                                <input id="ctl00_cphRoblox_SellThisItemCheckBox" type="checkbox" name="ctl00$cphRoblox$SellThisItemCheckBox" @(onSale ? "checked=\"checked\"" : string.Empty) /><label for="ctl00_cphRoblox_SellThisItemCheckBox">Sell this Item</label>
                                    <div id="ctl00_cphRoblox_PricingPanel" class="PricingPanel">
		
                                    
                                    <div id="Pricing">
                                        <div id="Currency" style="margin-left: 183px;">
                                            <div class="PricingLabel form-label">
                                            </div>
                                            <div id="ctl00_cphRoblox_SellForRobuxCheck" class="PricingField_Robux" style="display:none">
                                                <input id="ctl00_cphRoblox_SellForRobux" type="checkbox" name="ctl00$cphRoblox$SellForRobux" checked="checked" /><label for="ctl00_cphRoblox_SellForRobux">for Robux</label></div>
                                            <div style="clear: both;">
                                            </div>
                                        </div>
                                        <div id="Price">
                                            <div class="PricingLabel form-label" style="margin-top: 5px">
                                                Price:
                                            </div>
                                            <div class="PricingField_Robux">
                                                
                                                    <span class="robux">&nbsp;</span>
                                                    <input name="ctl00$cphRoblox$RobuxPrice" type="text" value="@assetPrice" maxlength="9" id="ctl00_cphRoblox_RobuxPrice" class="TextBox" />
                                                
                                            </div>
                                            <span id="PricingError" class="status-error" style="display:none;">
                                                The minimum price for this item is <span class="robux notranslate">@minPrice</span>
                                            </span>
                                            <span id="PricingErrorMax" class="status-error" style="display:none;">
                                                The maximum price for this item is <span class="robux notranslate">999999999</span>
                                            </span>
                                            <div style="clear: both;"></div>
                                        </div>
                                        
                                        <div id="Fee" style="margin-top: 18px;">
                                            <div id="market-info" data-market-fee-rate="30" data-minimum-price="@minPrice" class="PricingLabel form-label">
                                                Marketplace Fee:<br />
                                                <span class="Suggestion footnote">(30% - minimum 1)</span></div>
                                            <div class="PricingField_Robux">
                                                <span class="robux MarketplaceFeeInRobuxLabel"></span>
                                            </div>
                                            <div style="clear: both;">
                                            </div>
                                        </div>
                                        <div id="Profit" style="margin-top:10px">
                                            <div class="PricingLabel form-label">
                                                You Earn:</div>
                                            <div class="PricingField_Robux">
                                                <span class="robux UserProfitInRobuxLabel"></span></div>
                                            <div style="clear: both;">
                                            </div>
                                        </div>
                                    </div>
                                
	</div>
                            </div>
                            
                            
                            
                        </fieldset>
                    </div>
                
</div>
                <div id="Comments">
                    <fieldset title="Turn comments on/off">
                        <legend>Turn comments on/off</legend>
                        <div class="Suggestion">
                            Choose whether or not this item is open for comments.
                        </div>
                        <div class="EnableCommentsRow">
                            <input id="ctl00_cphRoblox_EnableCommentsCheckBox" type="checkbox" name="ctl00$cphRoblox$EnableCommentsCheckBox" @(allowComments ? "checked=\"checked\"" : string.Empty) /><label for="ctl00_cphRoblox_EnableCommentsCheckBox">Allow Comments</label>
                        </div>
                    </fieldset>
                </div>
				
				<div id="ctl00_cphRoblox_GenreOptionsPanel">
	
                    <div id="SetGenres">
                        <fieldset>
                            <legend>Genre</legend>
                            <div class="Suggestion">
                                Classify your
                                T-Shirt
                                to help people find it.
                            </div>
                            <script type="text/javascript">
                                var genreID = 'ctl00_cphRoblox_actualGenreSelection';
                                var multigenreID = 'ctl00_cphRoblox_actualGenreSelectionMulti';
                                function addGenre($this, multi) {
                                    var a = $this.val();
                                    if (!multi) {
                                        $('#' + genreID).val(a);
                                    }
                                    else {
                                        var b = parseInt($('#' + multigenreID).val(), 10);
                                        if ($this.is(":checked")) {
                                            $('#' + multigenreID).val(b + parseInt(a, 10));
                                        }
                                        else {
                                            $('#' + multigenreID).val(b - parseInt(a, 10));
                                        }
                                    }
                                }
                            </script>

                            <script type="text/javascript">
                                $(function () {
                                    var currentGenre = @assetGenre;
                                    if (currentGenre >= 1 && currentGenre <= 15) {
                                        var $radio = $('#SetGenres input[name="GenreButtons2"][value="' + currentGenre + '"]');
                                        if ($radio.length) {
                                            $radio.prop('checked', true);
                                        }
                                    }
                                });
                            </script>

                            <div id="ctl00_cphRoblox_AllowOneGenre">
		
                                <div class="GenreSettings">
                                    <ul style="list-style: none;">
                                        
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/Classic.png" alt="All" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="1"
                                                             />
                                                        All
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/Tutorial.gif" alt="Building" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="19"
                                                             />
                                                        Building
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/Cthulu.png" alt="Horror" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="11"
                                                             />
                                                        Horror
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/City.png" alt="Town and City" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="7"
                                                             />
                                                        Town and City
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/ModernMilitary.png" alt="Military" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="17"
                                                             />
                                                        Military
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/LOL.png" alt="Comedy" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="15"
                                                             />
                                                        Comedy
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/Castle.png" alt="Medieval" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="8"
                                                             />
                                                        Medieval
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/Adventure.png" alt="Adventure" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="13"
                                                            checked='checked' />
                                                        Adventure
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/SciFi.png" alt="Sci-Fi" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="9"
                                                             />
                                                        Sci-Fi
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/Pirate.png" alt="Naval" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="12"
                                                             />
                                                        Naval
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/FPS.png" alt="FPS" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="20"
                                                             />
                                                        FPS
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/RPG.png" alt="RPG" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="21"
                                                             />
                                                        RPG
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/Sports.png" alt="Sports" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="14"
                                                             />
                                                        Sports
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/Ninja.png" alt="Fighting" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="10"
                                                             />
                                                        Fighting
                                                    </label>
                                                </li>
                                            
                                                <li style="width:250px;float:left;">
                                                    <img src="/images/GenreIcons/WildWest.png" alt="Western" />
                                                    <label>
                                                        <input type="radio" onclick="addGenre($(this), false);" name="GenreButtons2" value="16"
                                                             />
                                                        Western
                                                    </label>
                                                </li>
                                            
                                    </ul>
                                    <input type="hidden" name="ctl00$cphRoblox$actualGenreSelection" id="ctl00_cphRoblox_actualGenreSelection" value="@assetGenre" />
                                </div>
                            
	</div>                 
                        </fieldset>
                    </div>
                
</div>

                <div class="Buttons">
                    <a id="ctl00_cphRoblox_SubmitButtonBottom" tabindex="4" class="btn-small btn-neutral" href="javascript:void(0);" onclick="document.getElementById('Action').value='Save'; document.getElementById('aspnetForm').submit(); return false;">
                        Save
                    </a>&nbsp;
                    <a id="ctl00_cphRoblox_CancelButtonBottom" tabindex="5" class="btn-small btn-negative" href="javascript:void(0);" onclick="document.getElementById('Action').value='Cancel'; document.getElementById('aspnetForm').submit(); return false;">
                        Cancel
                    </a>
                </div>
                <a href="javascript:history.back();">Back</a>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    
    <script type="text/javascript">
        $(function () {
            var isPlaceAsset = false;
            MyItemPage.Initialize(
                1, 
                0.3, 
                2, 
                999999999,
                true, 
                false, 
                isPlaceAsset,
                true);

            
            $('.PricingField_Robux [type=checkbox]').attr('checked', true); 
            
        });

        Roblox.MyItem = Roblox.MyItem || {};

        //<sl:translate>
        Roblox.MyItem.strings = {
            SellingSuspendedTitleText: "Selling Suspended",
            SellingSuspendedBodyContent: "Your account has had the privilege of selling paid access to any of your places on Roblox suspended.",
            PriceChangingThrottledTitleText: "Price update blocked.",
            PriceChangingThrottledBodyContent: "You are changing the price too quickly. Try the update again after a short time.",
            OKText: "OK"
        };
        //</sl:translate>
        Roblox.MyItem.AlertImageUrl = "https://images.rbxcdn.com/cbb24e0c0f1fb97381a065bd1e056fcb.png";
    </script>

                    <div style="clear:both"></div>
                </div>
            </div>
        </div> 
        </div>

        </div></div>
    </div>


    
<script type="text/javascript">
//<![CDATA[
var Page_Validators =  new Array(document.getElementById("ctl00_cphRoblox_NTBRFV"));
//]]>
</script>

<script type="text/javascript">
//<![CDATA[
var ctl00_cphRoblox_NTBRFV = document.all ? document.all["ctl00_cphRoblox_NTBRFV"] : document.getElementById("ctl00_cphRoblox_NTBRFV");
ctl00_cphRoblox_NTBRFV.controltovalidate = "ctl00_cphRoblox_NameTextBox";
ctl00_cphRoblox_NTBRFV.focusOnError = "t";
ctl00_cphRoblox_NTBRFV.errormessage = "A Name is Required";
ctl00_cphRoblox_NTBRFV.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
ctl00_cphRoblox_NTBRFV.initialvalue = "";
//]]>
</script>


<script type="text/javascript">
//<![CDATA[

var Page_ValidationActive = false;
if (typeof(ValidatorOnLoad) == "function") {
    ValidatorOnLoad();
}

function ValidatorOnSubmit() {
    if (Page_ValidationActive) {
        return ValidatorCommonOnSubmit();
    }
    else {
        return true;
    }
}
        
document.getElementById('ctl00_cphRoblox_NTBRFV').dispose = function() {
    Array.remove(Page_Validators, document.getElementById('ctl00_cphRoblox_NTBRFV'));
}
//]]>
</script>
</form>


</div>


	
        <script>
            $(function () {
                Roblox.DeveloperConsoleWarning.showWarning();
            });
        </script>
    

</body>                
</html>
