@model RobloxWebserver.Controllers.CatalogController.CatalogItemViewModel
@{ Layout = "_Layout"; }
<!DOCTYPE html><!--[if IE 8]><html class=ie8 ng-app=robloxApp><![endif]--> <!--[if gt IE 8]><!-->
<html><!--<![endif]-->


 <script type="text/javascript" src="/JS/utilities/robloxAds.js"></script>
 <script type="text/javascript" src="/JS/leancore/libs/bootstrap.min.js"></script>
 <script type="text/javascript" src="/JS/leancore/BootstrapNamespacing.js"></script>
 <script type="text/javascript" src="/JS/GoogleAnalytics/GoogleAnalyticsEvents.js"></script>
 <script type="text/javascript" src="/JS/JSErrorTracker.js"></script>
 <script type="text/javascript" src="/JS/RobloxEventManager.js"></script>
 <script type="text/javascript" src="/JS/GoogleEventListener.js"></script>
 <script type="text/javascript" src="/JS/SiteTouchEvent.js"></script>
 <script type="text/javascript" src="/JS/UpsellAdModal.js"></script>
 <script type="text/javascript" src="/JS/JavaScriptEndpoints.js"></script>
 <script type="text/javascript" src="/JS/utilities/deviceFeatureDetection.js"></script>
 <script type="text/javascript" src="/JS/utilities/lazyLoad.js"></script>
 <script type="text/javascript" src="/JS/XsrfToken.js"></script>
 <script type="text/javascript" src="/JS/DeveloperConsoleWarning.js"></script>
 <script type="text/javascript" src="/JS/leancore/iesupport/jquery.placeholder.js"></script>
 <script type="text/javascript" src="/JS/jquery.ba-postmessage.min.js"></script>
 <script type="text/javascript" src="/JS/widgets/jquery.mCustomScrollbar.concat.min.js"></script>
 <script type="text/javascript" src="/JS/leancore/Navigation.js"></script>
 <script type="text/javascript" src="/JS/Reference/widget.js"></script>
 <script type="text/javascript" src="/JS/CookieUpgrader.js"></script>
 <script type="text/javascript" src="/JS/Game/GamePlayEvents.js"></script>
 <script type="text/javascript" src="/JS/leancore/RobloxBaseInit.js"></script>
 <script type="text/javascript" src="/JS/jquery.tipsy.js"></script>
 <script type="text/javascript" src="/JS/extensions/string.js"></script>
 <script type="text/javascript" src="/JS/StringTruncator.js"></script>
 <script type="text/javascript" src="/JS/json2.min.js"></script>
 <script type="text/javascript" src="/JS/MasterPageUI.js"></script>
 <script type="text/javascript" src="/JS/polyfill/ie7localStorage.js"></script>
 <script type="text/javascript" src="/JS/jPlayer/2.9.2/jquery.jplayer.min.js"></script>
 <script type="text/javascript" src="/JS/jquery.simplemodal-1.3.5.js"></script>
 <script type="text/javascript" src="/JS/AjaxAvatarThumbnail.js"></script>
 <script type="text/javascript" src="/JS/extensions/Thumbnails.js"></script>
 <script type="text/javascript" src="/JS/extensions/ThreeDeeThumbnails.js"></script>
 <script type="text/javascript" src="/JS/Thumbnails/ThumbnailView.js"></script>
 <script type="text/javascript" src="/JS/Linkify.js"></script>
 <script type="text/javascript" src="/JS/utilities/stringFormat.js"></script>
 <script type="text/javascript" src="/JS/Tracking/SignupTrackingScript.js"></script>
 <script type="text/javascript" src="/JS/Tracking/AsyncGoogleOnScript.js"></script>
 <script type="text/javascript" src="/JS/Tracking/ModalEvents.js"></script>
 <script type="text/javascript" src="/JS/VideoPreRoll.js"></script>
 <script type="text/javascript" src="/JS/CharacterSelect.js"></script>
 <script type="text/javascript" src="/JS/MadStatus.js"></script>
 <script type="text/javascript" src="/JS/PlaceLauncher.js"></script>
 <script type="text/javascript" src="/JS/GameLauncher.js"></script>
 <script type="text/javascript" src="/JS/GameLaunchLogger.js"></script>
 <script type="text/javascript" src="/JS/ProtocolHandlerClientInterface.js"></script>
 <script type="text/javascript" src="/JS/GameLaunchAdRefresher.js"></script>
 <script type="text/javascript" src="/JS/GPTAdScript.js"></script>
 <script type="text/javascript" src="/JS/leancore/libs/json3.min.js"></script>
 <script type="text/javascript" src="/JS/roblox.js"></script>
 <script type="text/javascript" src="/JS/leancore/RobloxHeaderInit.js"></script>
 <script type="text/javascript" src="/JS/utilities/performance.js"></script>
 <script type="text/javascript" src="/JS/RobloxCookies.js"></script>
 <script type="text/javascript" src="/JS/RobloxEventStream.js"></script>
 <script type="text/javascript" src="/JS/Events/UserInteractionsEvent.js"></script>
 <script type="text/javascript" src="/JS/Events/AssetActionButtonClickEvent.js"></script>
 <script type="text/javascript" src="/JS/Events/PageHeartbeatEvent.js"></script>
 <script type="text/javascript" src="/JS/utilities/robloxAds.js"></script>
 <script type="text/javascript" src="/JS/NumberFormatting.js"></script>
 <script type="text/javascript" src="/JS/ItemPurchaseForDialog.js"></script>
 <script type="text/javascript" src="/JS/utilities/dialog.js"></script>
 <script type="text/javascript" src="/JS/utilities/countdownTimer.js"></script>
 <script type="text/javascript" src="/JS/Item/PurchaseItem.js"></script>
 <script type="text/javascript" src="/JS/widgets/Favorites.js"></script>
 <script type="text/javascript" src="/JS/viewapp/pages/recommendations/recommendations.js"></script>
 <script type="text/javascript" src="/JS/viewapp/pages/recommendations/controllers/recommendationsController.js"></script>
 <script type="text/javascript" src="/JS/viewapp/pages/recommendations/services/recommendationsPageService.js"></script>
 <script type="text/javascript" src="/JS/GenericModal.js"></script>
 <script type="text/javascript" src="/JS/Item/ItemPage.js"></script>
 <script type="text/javascript" src="/JS/utilities/popover.js"></script>
 <script type="text/javascript" src="/JS/Navigation/ShopAmazon.js"></script>
 <script type="text/javascript" src="/JS/Bootstrap/GenericConfirmation.js"></script>
 <script type="text/javascript" src="/JS/GenericConfirmation.js"></script>
 <script type="text/javascript" src="/JS/Tracking/FormEvents.js"></script>
 <script type="text/javascript" src="/JS/viewapp/common/formEvents/formEvents.js"></script>
 <script type="text/javascript" src="/JS/viewapp/common/formEvents/directives/formInteraction.js"></script>
 <script type="text/javascript" src="/JS/viewapp/common/formEvents/directives/formContext.js"></script>
 <script type="text/javascript" src="/JS/TosModalCheck.js"></script>
 <script type="text/javascript" src="/JS/AbuseReport/AbuseReportDispatcher.js"></script>
 <script type="text/javascript" src="/JS/Comments.js?v=3"></script>
 <script type="text/javascript" src="/JS/viewapp/common/directives/toggleLoadingDirective.js"></script>
 <script type="text/javascript" src="/JS/viewapp/widgets/emailAndPhoneUpsell/emailAndPhoneUpsell.js"></script>
 <script type="text/javascript" src="/JS/viewapp/widgets/emailAndPhoneUpsell/constants/emailAndPhoneUpsellConstants.js"></script>
 <script type="text/javascript" src="/JS/viewapp/widgets/emailAndPhoneUpsell/services/emailAndPhoneUpsellService.js"></script>
 <script type="text/javascript" src="/JS/viewapp/widgets/emailAndPhoneUpsell/controllers/emailAndPhoneUpsellController.js"></script>
 <script type="text/javascript" src="/JS/viewapp/widgets/emailAndPhoneUpsell/controllers/emailAndPhoneUpsellModalController.js"></script>
 <script type="text/javascript" src="/JS/2017CatalogItem.js"></script>

<link rel="stylesheet" href="~/CSS/Pages/Item/ItemPage.css">
<link rel="stylesheet" href="~/CSS/Base/CSS/LoadingSpinner.css"> 
<link rel="stylesheet" href="~/CSS/Pages/Shared/ItemThumbnail.css">
<link rel="stylesheet" href="~/CSS/Pages/Recommendations/Recommendations.css">
<link rel="stylesheet" href="~/CSS/Base/CSS/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="~/CSS/Base/CSS/Modals.css">
<link rel="stylesheet" href="~/CSS/Base/CSS/PlaceLauncher.css">
<link rel="stylesheet" href="~/CSS/Base/CSS/RevisedCharacterSelectModal.css">
<link rel="stylesheet" href="~/CSS/Pages/Login/SignupOrLogInModal.css">
<link rel="stylesheet" href="~/CSS/Base/CSS/VideoPreRoll.css">
<link rel="stylesheet" href="~/CSS/Base/CSS/Abp.css">
<link rel="stylesheet" href="~/CSS/Legacy/Modal.css">
<link rel="stylesheet" href="~/CSS/2017/SiteStyle.css">
<link rel="stylesheet" href="~/CSS/2017/LeanBaseStyle.css">

<link rel="stylesheet" href="~/CSS/Pages/Item/ItemPage.css">
<link rel="stylesheet" href="~/CSS/Base/CSS/LoadingSpinner.css"> 
<link rel="stylesheet" href="~/CSS/Pages/Shared/ItemThumbnail.css">
<link rel="stylesheet" href="~/CSS/Pages/Recommendations/Recommendations.css">
<link rel="stylesheet" href="~/CSS/Pages/Shared/AssetStatusIcon.css">

<link rel="stylesheet" href="~/CSS/2017/Base/CSS/StyleGuide.css">
<link rel="stylesheet" href="~/CSS//Base/CSS/Modals.css">

<head data-machine-id=WEB1494>
    <title>@(string.IsNullOrWhiteSpace(Model?.Name) ? "Item" : Model.Name) - ROBLOX</title>

    <script>
        var Roblox = Roblox || {};
        Roblox.RealTimeSettings = Roblox.RealTimeSettings || {
            NotificationsEndpoint: "https://realtime.roblox.com/",
            NotificationsTestInterval: "5000",
            MaxConnectionTime: "43200000",
            IsStateTrackingEnabled: true,
            IsEventPublishingEnabled: false,
            IsDisconnectOnSlowConnectionDisabled: true,
            IsSignalRClientTransportRestrictionEnabled: true,
            IsLocalStorageInRealTimeEnabled: true,
            UserId: "404463238"
        }
    </script>
    <script>
        var Roblox = Roblox || {};
        Roblox.WebApps = Roblox.WebApps || {};
        Roblox.WebApps.Domains = {
            chat: "https://chatsite.roblox.com"
        }
    </script>
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
   
    <script>
        if (Roblox && Roblox.EventStream) {
            Roblox.EventStream.Init("//ecsv2.roblox.com/www/e.png", "//ecsv2.roblox.com/www/e.png", "//ecsv2.roblox.com/pe?t=studio", "//ecsv2.roblox.com/pe?t=diagnostic");
        }
    </script>
    <script>
        if (Roblox && Roblox.PageHeartbeatEvent) {
            Roblox.PageHeartbeatEvent.Init([2, 8, 20, 60]);
        }
    </script>
  
</head>
<body id=rbx-body data-performance-relative-value=0.005 data-internal-page-name=CatalogItem data-send-event-percentage=0.01>
    <div id=roblox-linkify data-enabled=true data-regex="(https?:\/\/)?(?:www\.)?([a-z0-9\-]{2,}\.)*(((m|de|www|web|api|blog|wiki|help|corp|polls|bloxcon|developer|devforum|forum)\.roblox\.com|robloxlabs\.com)|(www\.shoproblox\.com))((\/[A-Za-z0-9-+&amp;\&#64;#\/%%?=~_|!:,.;]*)|(\b|\s))" data-regex-flags=gm data-as-http-regex=((wiki|[^.]help|corp|polls|bloxcon|developer|devforum)\.robloxlabs\.com)></div>

    <div id=image-retry-data data-image-retry-max-times=10 data-image-retry-timer=1500 data-ga-logging-percent=10></div>
    <div id=http-retry-data data-http-retry-max-timeout=0 data-http-retry-base-timeout=0 data-http-retry-max-times=5></div>
    <div id=TosAgreementInfo data-terms-check-needed=False></div>
    <div id=fb-root></div>
            <div id=wrap class="wrap no-gutter-ads logged-in" data-gutter-ads-enabled=false>
       </div>
            <div class="content item-page-main">
                <div id=item-container class=page-content data-item-id="@Model.Id" data-item-name="@Model.Name" data-asset-type="Package" data-userasset-id="" data-is-purchase-enabled=true data-product-id="@Model.Id" data-bc-requirement=0 data-expected-currency="1" data-expected-price="@(Model.PriceRobux ?? 0)" data-seller-name="@Model.CreatorName" data-expected-seller-id="@Model.CreatorId" data-lowest-private-sale-userasset-id="" data-is-limited-unique="@Model.IsLimitedUnique" data-user-id="@User?.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value" data-asset-granted=False data-forward-url="" data-avatar-wear-url="https://avatar.roblox.com/v1/avatar/assets/@Model.Id/wear" data-avatar-remove-url="https://avatar.roblox.com/v1/avatar/assets/@Model.Id/remove" data-current-time="@DateTime.UtcNow">
                    <div class=system-feedback>
                        <div class=alert-system-feedback>
                            <div class="alert alert-success">Purchase Completed</div>
                        </div>
                        <div class=alert-system-feedback>
                            <div class="alert alert-warning">Error occurred</div>
                        </div>
                    </div>
                    <div class="section-content top-section">
                        <div class=item-name-container>
                            <h2>@Model.Name</h2>
                            <div>
                                <span class=text-label>By <a href="/users/@Model.CreatorId/profile" class=text-name>@Model.CreatorName</a></span>
                                @if (Model.IsOwned)
                                {
                                    <div class=divider>&nbsp;</div>
                                    <div class=label-checkmark><span class=icon-checkmark-white-bold></span></div><span>Item Owned</span>
                                }

                                @* <div id=phone-sale-clock class="sale-clock phone-sale-clock" data-off-sale-deadline="10/31/2017 5:50:49 PM"><span class=icon-red-timer-16x16></span>
                                    <div class=text></div>
                                </div> *@
                            </div>
                        </div>
                        <div class=item-thumbnail-container>
                            <div id=AssetThumbnail class="thumbnail-holder thumbnail-Large three-dee-static" data-reset-enabled-every-page data-3d-thumbs-enabled three-dee-static data-3dtype=static data-url="/thumbnail/asset?assetId=@Model.Id&amp;thumbnailFormatId=254&amp;width=420&amp;height=420"><span class=thumbnail-span data-3d-url="/asset-thumbnail-3d/json?assetId=@Model.Id"><img src="@Model.ImageUrl"></span>

                                <div class=equipped-marker></div><span class="enable-three-dee three-dee-static-icon"></span>
                                @* <div class="asset-status-icon status-sale has-icon"><span class=icon-clock></span> <span> </span></div> *@
                            </div>
                            <script>
                                (function() {
                                    if (Roblox && Roblox.Performance) {
                                        Roblox.Performance.setPerformanceMark("itemReskin_thumbnail_loaded");
                                    }
                                })();
                            </script>
                        </div>
                        <div id=item-details class="content-overflow-toggle content-height content-overflow-page-loading item-details">
                            <div class="clearfix price-container">
                                <div class=price-container-text>
                                    @if (Model.IsOwned)
                                    {
                                        <div class=item-first-line>This item is available in your inventory.</div>
                                    }
                                    <div class="text-label field-label price-label">Price</div>
                                    <div class=price-info>
                                        <div class="icon-text-wrapper clearfix icon-robux-price-container">
                                            <span class=icon-robux></span>
                                            <span class=text-robux-lg>
                                                @if (Model.PriceRobux.HasValue)
                                                {
                                                    @Model.PriceRobux.Value.ToString("N0")
                                                }
                                                @* else
                                                {
                                                    @:Offsale
                                                } *@
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <div class=action-button>
                                    @if (Model.IsOwned)
                                    {
                                        <a id=edit-avatar-button href="https://web.roblox.com/my/avatar" class="btn-fixed-width-lg btn-control-md" data-button-action=avatar> Edit Avatar </a>
                                    }
                                    else
                                    {
                                        <button type=button class="btn-fixed-width-lg btn-primary-lg PurchaseButton" data-button-type=main data-button-action=buy data-se=item-buyforrobux data-item-name="@Model.Name" data-seller-name="@Model.CreatorName" data-item-id="@Model.Id" data-expected-price="@(Model.PriceRobux ?? 0)" data-expected-currency="1" data-asset-type="Package" data-expected-seller-id="@Model.CreatorId"> Buy </button>
                                    }
                                    @* <div id=sale-clock class="sale-clock desktop-sale-clock" data-off-sale-deadline="10/31/2017 5:50:49 PM">
                                        <div class=text></div>
                                    </div> *@
                                </div>
                            </div>
                            <div class="clearfix item-mobile-description item-field-container">
                                <pre class=description-content>@Model.Description</pre>

                            </div>
                            <div class="clearfix item-type-field-container">
                                <div class="text-label field-label">Type</div><span class=field-content>@Model.AssetTypeLabel</span>

                            </div>
                            <div class="clearfix item-field-container">
                                <div class="text-label field-label">Genres</div>
                                <div class=field-content><span class="text-name item-genre">@Model.GenreLabel</span></div>

                            </div>
                            <div class="clearfix toggle-target item-field-container">
                                <div class="text-label field-label">Description</div>
                                <pre id=item-details-description class="content-overflow-toggle content-height content-overflow-page-loading field-content description-content">@Model.Description<span class="hidden toggle-content" data-container-id=item-details-description>Read More</span></pre>

                            </div>
                            <div class="hide show-more-end" data-container-id=item-details></div><button type=button class="hidden btn-full-width btn-control-md toggle-content" data-container-id=item-details>Read More</button>
                        </div>
                        <ul class="item-social-container clearfix include-favorite">
                            <li class=favorite-button-container>
                                <div class=tooltip-container data-toggle=tooltip data-original-title="Add to Favorites"><a id=toggle-favorite data-toggle-url=/favorite/toggle data-assetid=@Model.Id data-isguest=False data-signin-url="https://web.roblox.com/newlogin?returnUrl=%2Fcatalog%2F@Model.Id%2F@Model.Name"> <span class="text-favorite favoriteCount" id=result>@((Model.FavoritedCount ?? 0).ToString("N0"))</span>
                                        <div id=favorite-icon class="icon-favorite@(Model.IsFavorited ? " favorited" : string.Empty)"></div>
                                    </a></div>
                        </ul>
                    </div>
                    <div ng-modules="robloxApp, recommendations">
                        <script>
                            var Roblox = Roblox || {};
                            Roblox.InventoryData = {
                                "inventoryDomain": "https://inventory.roblox.com",
                                "useInventorySite": true
                            };
                        </script>
                        <div class=current-items ng-controller=recommendationsController ng-init="initializeWithModelValues(@Model.Id, 32, 7)" ng-show="recommendationsData.items.length > 0" ng-cloak>
                            <div class="container-list recommendations-container">
                                <div class="container-header recommendations-header">
                                    <h3>Recommended {{ recommendationsData.assetTypeName | capitalize }}</h3>
                                </div>
                                <div class=recommended-items-slider>
                                    <ul class="hlist item-cards recommended-items" ng-class="{'item-cards-embed' : recommendationsLayout.numberOfItemsToDisplay &lt; 7}">
                                        <li ng-repeat="item in recommendationsData.items" class="list-item item-card recommended-item">
                                            <div class="item-card-container recommended-item-link"><a ng-href={{item.Item.AbsoluteUrl}} class=item-card-link>
                                                    <div class="item-card-thumb-container recommended-thumb"><img ng-src={{item.Thumbnail.Url}} thumbnail=item.Thumbnail image-retry class=item-card-thumb> <span ng-show=item.AssetRestrictionIcon ng-class="'icon-' + item.AssetRestrictionIcon.CssTag + '-label'"> </span></div>
                                                    <div class="text-overflow item-card-name recommended-name" title="{{ item.Item.Name }}">{{ item.Item.Name }}</div>
                                                </a>
                                                <div ng-if=item.Item.AudioUrl class=MediaPlayerControls>
                                                    <div class="MediaPlayerIcon icon-play" data-mediathumb-url={{item.Item.AudioUrl}} data-jplayer-version=2.9.2></div>
                                                </div>
                                                <div class="text-overflow item-card-creator recommended-creator"><span class="xsmall text-label recommended-creator-by">By</span> <a class="xsmall text-overflow text-link" ng-href={{item.Creator.CreatorProfileLink}}>{{ item.Creator.Name }}</a></div>
                                                <div class="text-overflow item-card-price"><span class=icon-robux-16x16 ng-show=item.HasPrice></span> <span class=text-robux ng-show=item.HasPrice>{{ item.Item.Price | abbreviate : 1 }}</span> <span class=text-label ng-hide=item.HasPrice> <span ng-if="item.Product.NoPriceText.length > 0" ng-class="{'text-robux': item.Product.NoPriceText === 'Free'}"> {{item.Product.NoPriceText}} </span> </span></div>
                                            </div>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.AllowComments && User?.Identity?.IsAuthenticated == true)
                    {
                        <div>
                        <div id=AjaxCommentsContainer class=comments-container data-asset-id="@Model.Id" data-total-collection-size="" data-is-user-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()" data-signin-url="https://web.roblox.com/newlogin?returnUrl=%2Fcatalog%2F@Model.Id%2F@Model.Name">
                            <div class=container-header>
                                <h3>Comments</h3>
                            </div>
                            <div class="section-content AddAComment">
                                <div id=send-comment-captcha></div>
                                <div class=comment-form>
                                    <form class="form-horizontal ng-pristine ng-valid" role=form>
                                        <div class=form-group><textarea class="form-control input-field rbx-comment-input blur" placeholder="Write a comment!" rows=1></textarea>
                                            <div class=rbx-comment-msgs><span class="rbx-comment-error text-error text-overflow"></span> <span class="rbx-comment-count small"></span></div>
                                        </div><button type=button class="btn-secondary-md rbx-post-comment">Post Comment</button>
                                    </form>
                                </div>
                                <div class="comments vlist"></div>
                                <div class=comments-item-template>
                                    <div class="comment-item list-item">
                                        <div class="comment-user list-header">
                                            <div class="Avatar avatar avatar-headshot-md" data-user-id=comment-author-id data-image-size=small></div>
                                        </div>
                                        <div class="comment-body list-body"><a class=text-name>username</a>
                                            <p class="comment-content list-content">text</p><span class="xsmall text-date-hint">4 hours ago</span>
                                        </div>
                                        <div class=comment-controls><a class="rbx-comment-report-link abuse-report-modal" href="https://web.roblox.com/abusereport/comment?id=%CommentID&amp;RedirectUrl=%PageURL" title="Report Abuse"><span class=icon-flag></span></a></div>
                                    </div>
                                </div>
                                <div class=loader-template style="display:none">
                                    <div class=loading-animated>

                                        <div>
                                            <div></div>
                                            <div></div>
                                            <div></div>
                                        </div>
                                    </div>
                                </div>
                                <div id=AjaxCommentsMoreButtonContainer class=ajax-comments-more-button-container><button type=button class="btn-control-sm rbx-comments-see-more hidden">See More</button></div>
                            </div>
                        </div>
                    </div>
                    }
                    <script>
                        var Roblox = Roblox || {};
                        $(function() {
                            if (!Roblox.Captcha) {
                                return;
                            }
                            var captcha = Roblox.Captcha;
                            captcha.setInvisibleMode("true" == "true" ? true : false);
                            captcha.setSiteKey("6LcpwSQUAAAAAPN5nICO6tHekrkrSIYvsl9jAPW4");
                            var types = ["PostComment"];
                            captcha.setMultipleEndpoints(types, "https://api.roblox.com/captcha/validate/user");
                        });
                    </script>
                    <script>
                        $(document).ready(function() {
                            Roblox.Comments.Resources = {
                                defaultMessage: "Write a comment!",
                                noCommentsFound: "No comments found.",
                                moreComments: "More Comments",
                                sorrySomethingWentWrong: "Sorry, something went wrong.",
                                charactersRemaining: "characters remaining",
                                emailVerifiedABTitle: "Verify Your Email",
                                emailVerifiedABMessage: "You must verify your email before you can comment. You can verify your email on the &lt;a class=&#39;text-link&#39; href=&#39;https://web.roblox.com/my/account?confirmemail=1&#39;&gt;Account&lt;/a&gt; page.",
                                linksNotAllowedTitle: "Links Not Allowed",
                                linksNotAllowedMessage: "Comments should be about the item or place on which you are commenting. Links are not permitted.",
                                accept: "Verify",
                                decline: "Cancel",
                                tooManyCharacters: "Too many characters!",
                                tooManyNewlines: "Too many newlines!"
                            };
                            Roblox.Comments.Limits = [{
                                limit: '10',
                                character: "\n",
                                message: Roblox.Comments.Resources.tooManyNewlines
                            }, {
                                limit: '200',
                                character: undefined,
                                message: Roblox.Comments.Resources.tooManyCharacters
                            }];
                            Roblox.Comments.FilterIsEnabled = true;
                            Roblox.Comments.FilterRegex = "(([a-zA-Z0-9-]+\\.[a-zA-Z]{2,4}[:\\#/\\?]+)|([a-zA-Z0-9]\\.[a-zA-Z0-9-]+\\.[a-zA-Z]{2,4}))";
                            Roblox.Comments.FilterCleanExistingComments = false;
                            if ($("#AjaxCommentsContainer").length) {
                                Roblox.Comments.initialize();
                            }
                        });
                    </script>

                </div>
                <div class="GenericModal modalPopup unifiedModal smallModal" style=display:none>
                    <div class=Title></div>
                    <div class=GenericModalBody>
                        <div>
                            <div class=ImageContainer><img class=GenericModalImage alt="generic image"></div>
                            <div class=Message></div>
                        </div>
                        <div class=clear></div>
                        <div id=GenericModalButtonContainer class=GenericModalButtonContainer><a class="ImageButton btn-neutral btn-large roblox-ok">OK</a></div>
                    </div>
                </div>
                <div id=ItemPurchaseAjaxData data-has-currency-service-error=False data-currency-service-error-message="" data-authenticateduser-isnull=False data-user-balance-robux="@Model.UserRobuxBalance" data-user-bc=0 data-continueshopping-url="/catalog/@Model.Id/@Model.Name" data-imageurl="@Model.ImageUrl" data-alerturl=/images/DataAlert.svg.gzip data-insufficentfundsurl=/images/b80339ddf867ccfe6ab23a2c263d8000.png></div>
            </div>
        </div>
    </div>
    <div ng-modules="robloxApp, notificationStream" ng-controller=notificationStreamController class="roblox-popover-content manual bottom" data-hidden-class-name=invisible id=notification-stream data-isnotificationcontentopen={{layout.isNotificationContentOpen}} ng-class="{'inApp': library.inApp,
                'isPhone': library.isPhone, 
                'invisible': !library.inApp &amp;&amp; !layout.isNotificationContentOpen}">
        <div notification-content></div>
    </div>
    <div id=chat-container class="chat chat-container" chat-base></div>
    <script>
        function urchinTracker() {}
    </script>
    <div id=PlaceLauncherStatusPanel style=display:none;width:300px data-new-plugin-events-enabled=True data-event-stream-for-plugin-enabled=True data-event-stream-for-protocol-enabled=True data-is-game-launch-interface-enabled=True data-is-protocol-handler-launch-enabled=True data-is-user-logged-in=True data-os-name=Windows data-protocol-name-for-client=roblox-player data-protocol-name-for-studio=roblox-studio data-protocol-url-includes-launchtime=true data-protocol-detection-enabled=true data-protocol-version=1>
        <div class="modalPopup blueAndWhite PlaceLauncherModal" style=min-height:160px>
            <div id=Spinner class=Spinner style="padding:20px 0"><img data-delaysrc=https://images.rbxcdn.com/e998fb4c03e8c2e30792f2f3436e9416.gif height=32 width=32 alt=Progress></div>
            <div id=status style="min-height:40px;text-align:center;margin:5px 20px">
                <div id=Starting class="PlaceLauncherStatus MadStatusStarting" style=display:block>Starting Roblox...</div>
                <div id=Waiting class="PlaceLauncherStatus MadStatusField">Connecting to Players...</div>
                <div id=StatusBackBuffer class="PlaceLauncherStatus PlaceLauncherStatusBackBuffer MadStatusBackBuffer"></div>
            </div>
            <div style=text-align:center;margin-top:1em><input type=button class="Button CancelPlaceLauncherButton translate" value=Cancel></div>
        </div>
    </div>
    <div id=ProtocolHandlerStartingDialog style=display:none class=protocol-handler-container>
        <div class="modalPopup ph-modal-popup">
            <div class=ph-modal-header></div>
            <div class=ph-logo-row><img src=https://images.rbxcdn.com/6304dfebadecbb3b338a79a6a528936c.svg.gzip width=90 height=90 alt=R class=play-logo-image> <img src=https://images.rbxcdn.com/3da410727fa2670dcb4f31316643138a.svg.gzip width=90 height=90 alt=R class="studio-logo-image hidden"></div>
            <div class=ph-areyouinstalleddialog-content>
                <p class=larger-font-size>Roblox is now loading. Get ready to play!
                <div class=ph-startingdialog-spinner-row><img src=https://images.rbxcdn.com/4bed93c91f909002b1f17f05c0ce13d1.gif width=82 height=24></div>
            </div>
        </div>
    </div>
    <div id=ProtocolHandlerAreYouInstalled style=display:none class=protocol-handler-container>
        <div class="modalPopup ph-modal-popup">
            <div class=ph-modal-header><span class="icon-close simplemodal-close"></span></div>
            <div class=ph-logo-row><img src=https://images.rbxcdn.com/6304dfebadecbb3b338a79a6a528936c.svg.gzip width=90 height=90 alt=R class=play-logo-image> <img src=https://images.rbxcdn.com/3da410727fa2670dcb4f31316643138a.svg.gzip width=90 height=90 alt=R class="studio-logo-image hidden"></div>
            <div class=ph-areyouinstalleddialog-content>
                <p class=larger-font-size>You're moments away from getting into the game!
                <div><button type=button class="btn btn-primary-md" id=ProtocolHandlerInstallButton> Download and Install Roblox </button></div>
                <div class=small><a href=https://en.help.roblox.com/hc/en-us/articles/204473560 class=text-name target=_blank>Click here for help</a></div>
            </div>
        </div>
    </div>
    <div id=ProtocolHandlerClickAlwaysAllowed class=ph-clickalwaysallowed style=display:none>
        <p class=larger-font-size><span class=icon-moreinfo></span> Check <b>Remember my choice</b> and click <strong>OK</strong> in the dialog box above to join games faster in the future!
    </div>
    <div id=videoPrerollPanel style=display:none>
        <div id=videoPrerollTitleDiv>Gameplay sponsored by:</div>
        <div id=content><video id=contentElement style=width:0;height:0></div>
        <div id=videoPrerollMainDiv></div>
        <div id=videoPrerollCompanionAd></div>
        <div id=videoPrerollLoadingDiv>Loading <span id=videoPrerollLoadingPercent>0%</span> - <span id=videoPrerollMadStatus class=MadStatusField>Starting game...</span><span id=videoPrerollMadStatusBackBuffer class=MadStatusBackBuffer></span>
            <div id=videoPrerollLoadingBar>
                <div id=videoPrerollLoadingBarCompleted></div>
            </div>
        </div>
        <div id=videoPrerollJoinBC><span>Get more with Builders Club!</span> <a href="https://web.roblox.com/premium/membership?ctx=preroll" target=_blank class="btn-medium btn-primary" id=videoPrerollJoinBCButton>Join Builders Club</a></div>
    </div>
    <script>
        $(function() {
            var videoPreRollDFP = Roblox.VideoPreRollDFP;
            if (videoPreRollDFP) {
                var customTargeting = Roblox.VideoPreRollDFP.customTargeting;
                videoPreRollDFP.showVideoPreRoll = false;
                videoPreRollDFP.loadingBarMaxTime = 33000;
                videoPreRollDFP.videoLoadingTimeout = 11000;
                videoPreRollDFP.videoPlayingTimeout = 41000;
                videoPreRollDFP.videoLogNote = "BuildersClub";
                videoPreRollDFP.logsEnabled = true;
                videoPreRollDFP.excludedPlaceIds = "32373412";
                videoPreRollDFP.adUnit = "/1015347/VideoPrerollUnder13";
                videoPreRollDFP.adTime = 15;
                videoPreRollDFP.isSwfPreloaderEnabled = false;
                videoPreRollDFP.isPrerollShownEveryXMinutesEnabled = true;
                videoPreRollDFP.isAgeTargetingEnabled = true;
                videoPreRollDFP.isAgeOrSegmentTargetingEnabled = true;
                videoPreRollDFP.isCompanionAdRenderedByGoogleTag = true;
                customTargeting.userAge = "8";
                customTargeting.userAgeOrSegment = "U13";
                customTargeting.userGender = "Female";
                customTargeting.gameGenres = "";
                customTargeting.environment = "Production";
                customTargeting.adTime = "15";
                customTargeting.PLVU = false;
                $(videoPreRollDFP.checkEligibility);
            }
        });
    </script>
    <div id=GuestModePrompt_BoyGirl class="Revised GuestModePromptModal" style=display:none>
        <div class=simplemodal-close><a class="ImageButton closeBtnCircle_20h" style=cursor:pointer;margin-left:455px;top:7px;position:absolute></a></div>
        <div class=Title>Choose Your Avatar</div>
        <div style=min-height:275px;background-color:white>
            <div style=clear:both;height:25px></div>
            <div style=text-align:center>
                <div class="VisitButtonsGuestCharacter VisitButtonBoyGuest" style=float:left;margin-left:45px></div>
                <div class="VisitButtonsGuestCharacter VisitButtonGirlGuest" style=float:right;margin-right:45px></div>
            </div>
            <div style=clear:both;height:25px></div>
            <div class=RevisedFooter>
                <div style="width:200px;margin:10px auto 0 auto"><a href="https://web.roblox.com/?returnUrl=https%3A%2F%2Fweb.roblox.com%2Fcatalog%2F134082613%2FHeadless-Horseman">
                        <div class=RevisedCharacterSelectSignup></div>
                    </a> <a class=HaveAccount href="https://web.roblox.com/newlogin?returnUrl=https%3A%2F%2Fweb.roblox.com%2Fcatalog%2F134082613%2FHeadless-Horseman">I have an account</a></div>
            </div>
        </div>
    </div>
    <script>
        function checkRobloxInstall() {
            return RobloxLaunch.CheckRobloxInstall('https://web.roblox.com/install/download.aspx');
        }
    </script>
    <div id=InstallationInstructions class=style2016 style=display:none>
        <div class=ph-installinstructions>
            <div class=ph-modal-header><span class="icon-close-16x16 simplemodal-close"></span>
                <h5 class=title>Thanks for playing ROBLOX</h5>
            </div>
            <div class=modal-content-container>
                <div class=ph-installinstructions-body>
                    <ul class=modal-col-5>
                        <li class=step1-of-5>
                            <h2>1</h2>
                            <p class=larger-font-size>Click <strong>Save File</strong> when the download window pops up</p><img data-delaysrc=https://images.rbxcdn.com/635085abe343ceec97e5da00103cbd8d.png>
                        <li class=2-of-5>
                            <h2>2</h2>
                            <p class=larger-font-size>Go to Downloads and double click <strong>RobloxPlayer.exe</strong></p><img data-delaysrc=https://images.rbxcdn.com/4791f147e474426b284e7885b8f91635.png>
                        <li class=step3-of-5>
                            <h2>3</h2>
                            <p class=larger-font-size>Click <strong>Run</strong></p><img data-delaysrc=https://images.rbxcdn.com/27e0e77ae7b5d726ca231c5d338fa473.png>
                        <li class=step4-of-5>
                            <h2>4</h2>
                            <p class=larger-font-size>Once installed, click <strong>Play</strong> to join the action!
                            <div class="VisitButton VisitButtonContinueGLI"><a class="btn btn-primary-lg disabled btn-full-width">Play</a></div>
                        <li class=step5-of-5>
                            <h2>5</h2>
                            <p class=larger-font-size>Click <strong>Ok</strong> when the alert pops up</p><img data-delaysrc=https://images.rbxcdn.com/f024c63845c2f79d30ccebe2b2f5818d.png>
                    </ul>
                </div>
            </div>
            <div class=xsmall>The ROBLOX installer should download shortly. If it doesn’t, start the <a href=# class=text-link onclick="Roblox.ProtocolHandlerClientInterface.manualDownload();return false">download now.</a></div>
        </div>
    </div>
    <div class=InstallInstructionsImage data-modalwidth=970 style=display:none></div>
    <div id=pluginObjDiv style=height:1px;width:1px;visibility:hidden;position:absolute;top:0></div><iframe id=downloadInstallerIFrame name=downloadInstallerIFrame style=visibility:hidden;height:0;width:1px;position:absolute></iframe>
   
    <div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle=confirmation style=display:none><a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
        <div class=Title></div>
        <div class=GenericModalBody>
            <div class=TopBody>
                <div class="ImageContainer roblox-item-image" data-image-size=small data-no-overlays data-no-click><img class=GenericModalImage alt="generic image"></div>
                <div class=Message></div>
            </div>
            <div class="ConfirmationModalButtonContainer GenericModalButtonContainer"><a href="" id=roblox-confirm-btn><span></span></a> <a href="" id=roblox-decline-btn><span></span></a></div>
            <div class=ConfirmationModalFooter></div>
        </div>
        <script>
            Roblox = Roblox || {};
            Roblox.Resources = Roblox.Resources || {};
            Roblox.Resources.GenericConfirmation = {
                yes: "Yes",
                No: "No",
                Confirm: "Confirm",
                Cancel: "Cancel"
            };
        </script>
    </div>
    <div id=modal-confirmation class=modal-confirmation data-modal-type=confirmation>
        <div id=modal-dialog class=modal-dialog>
            <div class=modal-content>
                <div class=modal-header><button type=button class=close data-dismiss=modal> <span aria-hidden=true><span class=icon-close></span></span><span class=sr-only>Close</span> </button>
                    <h5 class=modal-title></h5>
                </div>
                <div class=modal-body>
                    <div class=modal-top-body>
                        <div class=modal-message></div>
                        <div class="modal-image-container roblox-item-image" data-image-size=medium data-no-overlays data-no-click><img class=modal-thumb alt="generic image"></div>
                        <div class="modal-checkbox checkbox"><input id=modal-checkbox-input type=checkbox> <label for=modal-checkbox-input></label></div>
                    </div>
                    <div class=modal-btns><a href="" id=confirm-btn><span></span></a> <a href="" id=decline-btn><span></span></a></div>
                    <div class="loading modal-processing"><img class=loading-default src=https://images.rbxcdn.com/4bed93c91f909002b1f17f05c0ce13d1.gif alt=Processing...></div>
                </div>
                <div class="modal-footer text-footer"></div>
            </div>
        </div>
        <script>
            Roblox = Roblox || {};
            Roblox.Resources = Roblox.Resources || {};
            Roblox.Resources.Dialog = {
                yes: "Yes",
                No: "No",
                OK: "OK",
                Confirm: "Confirm",
                Cancel: "Cancel",
                Agree: "Agree"
            };
        </script>
    </div>
    <script>
        var Roblox = Roblox || {};
        Roblox.jsConsoleEnabled = false;
    </script>
    
    <div ng-modules=baseTemplateApp>
    </div>
    <div ng-modules=chatAppHtmlTemplateApp>
    </div>
    <div ng-modules=pageTemplateApp>
    </div>
    <script>
        Roblox.config.externalResources = [];
        Roblox.config.paths['Pages.Catalog'] = 'https://js.rbxcdn.com/8d6821a4eed971155a4829a1e43336f4.js.gzip';
        Roblox.config.paths['Pages.CatalogShared'] = 'https://js.rbxcdn.com/5c0ac85bd60f40a577bfff7e323e3690.js.gzip';
        Roblox.config.paths['Widgets.AvatarImage'] = 'https://js.rbxcdn.com/823c7d686e6b3d8321275740fe498f9d.js.gzip';
        Roblox.config.paths['Widgets.DropdownMenu'] = 'https://js.rbxcdn.com/5cf0eb71249768c86649bbf0c98591b0.js.gzip';
        Roblox.config.paths['Widgets.GroupImage'] = 'https://js.rbxcdn.com/556af22c86bce192fb12defcd4d2121c.js.gzip';
        Roblox.config.paths['Widgets.HierarchicalDropdown'] = 'https://js.rbxcdn.com/7689b2fd3f7467640cda2d19e5968409.js.gzip';
        Roblox.config.paths['Widgets.ItemImage'] = 'https://js.rbxcdn.com/c2aa2fcc2b1e8ec82e1bacfdb9dfffea.js.gzip';
        Roblox.config.paths['Widgets.PlaceImage'] = 'https://js.rbxcdn.com/52ff803e77bb661839e8b2c93bb5ba27.js.gzip';
        Roblox.config.paths['Widgets.SurveyModal'] = 'https://js.rbxcdn.com/56ad7af86ee4f8bc82af94269ed50148.js.gzip';
    </script>
    <script>
        Roblox.XsrfToken.setToken('gD0rq6yoHMBf');
    </script>
    <script>
        $(function() {
            Roblox.DeveloperConsoleWarning.showWarning();
        });
    </script>
    <script>
        $(function() {
            Roblox.JSErrorTracker.initialize({
                'suppressConsoleError': true
            });
        });
    </script>
    <script>
        $(function () {
            var $container = $("#item-container"),
                $primaryButton = $(".PurchaseButton, .InstallButton").first(),
                $purchaseButtons;

            if ($primaryButton.length > 0 && $container.length > 0) {
                $primaryButton.attr("data-expected-price", $container.attr("data-expected-price"));
                $primaryButton.attr("data-bc-requirement", $container.attr("data-bc-requirement"));
                $primaryButton.attr("data-product-id", $container.attr("data-product-id"));
                $primaryButton.attr("data-item-id", $container.attr("data-item-id"));
                $primaryButton.attr("data-item-name", $container.attr("data-item-name"));
                $primaryButton.attr("data-asset-type", $container.attr("data-asset-type"));
                $primaryButton.attr("data-expected-currency", $container.attr("data-expected-currency"));
                $primaryButton.attr("data-expected-seller-id", $container.attr("data-expected-seller-id"));
            }

            $purchaseButtons = $(".PurchaseButton");
            if ($purchaseButtons.length > 0 && $container.length > 0) {
                $purchaseButtons.attr("data-seller-name", $container.attr("data-seller-name"));
                $purchaseButtons.attr("data-userasset-id", $container.attr("data-lowest-private-sale-userasset-id"));
            }
        });
    </script>
</body>
</html>