@{ Layout = "_Layout"; }
@{
    var viewParam = Context.Request.Query["view"].ToString();
    if (string.IsNullOrEmpty(viewParam))
    {
        viewParam = Context.Request.Query["View"].ToString();
    }

    // Default to T-Shirts tab when no view is specified
    if (string.IsNullOrEmpty(viewParam))
    {
        viewParam = "2";
    }

    var viewName = "Games";
    if (!string.IsNullOrEmpty(viewParam))
    {
        switch (viewParam)
        {
            case "9":
                viewName = "Places";
                break;
            case "10":
                viewName = "Models";
                break;
            case "13":
                viewName = "Decals";
                break;
            case "21":
                viewName = "Badges";
                break;
            case "3":
                viewName = "Audio";
                break;
            case "24":
                viewName = "Animations";
                break;
            case "40":
                viewName = "Meshes";
                break;
            case "11":
                viewName = "Shirts";
                break;
            case "2":
                viewName = "T-Shirts";
                break;
            case "12":
                viewName = "Pants";
                break;
            case "38":
                viewName = "Plugins";
                break;
            default:
                viewName = "Games";
                break;
        }
    }
}
<!DOCTYPE html>
<html xml:lang=en xmlns:fb=http://www.facebook.com/2008/fbml>

@section Head {
    <script type=application/ld+json>
        {
            "@@context": "http://schema.org",
            "@@type": "Organization",
            "name": "Roblox",
            "url": "https://www.roblox.com/",
            "logo": "https://images.rbxcdn.com/c69b74f49e785df33b732273fad9dbe0.png",
            "sameAs": ["https://www.facebook.com/ROBLOX/", "https://twitter.com/roblox", "https://www.linkedin.com/company/147977", "https://www.instagram.com/roblox/", "https://www.youtube.com/user/roblox", "https://plus.google.com/+roblox", "https://www.twitch.tv/roblox"]
        }
    </script>
    <meta name=user-data data-userid=296890863 data-name=Loganh4005 data-isunder13=true>
    <meta name=locale-data data-language-code=en_us data-language-name=English data-locale-api-url=https://locale.roblox.com>
    <meta name=device-meta data-device-type=computer data-is-in-app=false data-is-desktop=true data-is-phone=false data-is-tablet=false data-is-console=false data-is-android-app=false data-is-ios-app=false data-is-uwp-app=false data-is-xbox-app=false data-is-amazon-app=false data-is-studio=false data-app-type=unknown>
    <meta name=page-meta data-internal-page-name=Create>
   

<script type="text/javascript" src="~/JS/Microsoft/MicrosoftAjax.js"></script>
<script type="text/javascript" src="~/JS/roblox.js"></script>
<script type="text/javascript" src="~/JS/angular/angular-elastic.js"></script>
<script type="text/javascript" src="~/JS/viewapp/app.js"></script>
<script type="text/javascript" src="~/JS/common/constants.js"></script>
<script type="text/javascript" src="~/JS/utilities/performance.js"></script>
<script type="text/javascript" src="~/JS/RobloxCookies.js"></script>
<script type="text/javascript" src="~/JS/utilities/minifyTestFile.js"></script>
<script type="text/javascript" src="~/JS/RobloxEventStream.js"></script>
<script type="text/javascript" src="~/JS/Events/UserInteractionsEvent.js"></script>
<script type="text/javascript" src="~/JS/Events/PageHeartbeatEvent.js"></script>
<script type="text/javascript" src="~/JS/services/userService.js"></script>
<script type="text/javascript" src="~/JS/services/metaDataValues.js"></script>
<script type="text/javascript" src="~/JS/utilities/localStorage.js"></script>
<script type="text/javascript" src="~/JS/utilities/ExponentialBackoff.js"></script>
<script type="text/javascript" src="~/JS/utilities/ExponentialBackoffSpecification.js"></script>
<script type="text/javascript" src="~/JS/Reference/themeUpdate.js"></script>

<script type="text/javascript" src="~/JS/dist/js/realTime.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/dist/js/crossTabCommunication.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/intl/intl-polyfill.min.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/en-US.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/es-ES.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/fr-FR.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/de-DE.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/pt-BR.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/ko-KR.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/zh-Hans-CN.js"></script>
<script type="text/javascript" src="~/JS/intl/polyfillLocales/zh-Hant-TW.js"></script>

<script type="text/javascript" src="~/JS/dist/js/internationalCore.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/dist/js/translationResourceProvider.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/leancore/libs/bootstrap.min.js"></script>
<script type="text/javascript" src="~/JS/leancore/BootstrapNamespacing.js"></script>
<script type="text/javascript" src="~/JS/leancore/libs/underscore-min.js"></script>
<script type="text/javascript" src="~/JS/GoogleAnalytics/GoogleAnalyticsEvents.js"></script>
<script type="text/javascript" src="~/JS/JSErrorTracker.js"></script>
<script type="text/javascript" src="~/JS/RobloxEventManager.js"></script>
<script type="text/javascript" src="~/JS/GoogleEventListener.js"></script>
<script type="text/javascript" src="~/JS/UpsellAdModal.js"></script>
<script type="text/javascript" src="~/JS/JavaScriptEndpoints.js"></script>
<script type="text/javascript" src="~/JS/utilities/deviceFeatureDetection.js"></script>
<script type="text/javascript" src="~/JS/utilities/lazyLoad.js"></script>
<script type="text/javascript" src="~/JS/utilities/urlParser.js"></script>
<script type="text/javascript" src="~/JS/utilities/touchMovementSensitivity.js"></script>
<script type="text/javascript" src="~/JS/utilities/generalSubmitButton.js"></script>
<script type="text/javascript" src="~/JS/XsrfToken.js"></script>
<script type="text/javascript" src="~/JS/DeveloperConsoleWarning.js"></script>
<script type="text/javascript" src="~/JS/widgets/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="~/JS/leancore/Navigation.js"></script>
<script type="text/javascript" src="~/JS/MasterPageUI.js"></script>
<script type="text/javascript" src="~/JS/jPlayer/2.9.2/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="~/JS/jquery.simplemodal-1.3.5.js"></script>
<script type="text/javascript" src="~/JS/extensions/Thumbnails.js"></script>
<script type="text/javascript" src="~/JS/Linkify.js"></script>
<script type="text/javascript" src="~/JS/CookieUpgrader.js"></script>
<script type="text/javascript" src="~/JS/utilities/stringFormat.js"></script>
<script type="text/javascript" src="~/JS/Tracking/SignupTrackingScript.js"></script>
<script type="text/javascript" src="~/JS/Tracking/AsyncGoogleOnScript.js"></script>
<script type="text/javascript" src="~/JS/VideoPreRollDFP.js"></script>
<script type="text/javascript" src="~/JS/MadStatus.js"></script>
<script type="text/javascript" src="~/JS/PlaceLauncher.js"></script>
<script type="text/javascript" src="~/JS/Generated/js/Roblox_TranslationResources_Feature_GameLaunchGuestModeResources_en_us_standard.js"></script>
<script type="text/javascript" src="~/JS/GameLauncher.js"></script>
<script type="text/javascript" src="~/JS/GameLaunchLogger.js"></script>
<script type="text/javascript" src="~/JS/EventTracker.js"></script>
<script type="text/javascript" src="~/JS/Generated/js/Roblox_TranslationResources_Common_VisitGameResources_en_us_standard.js"></script>
<script type="text/javascript" src="~/JS/ProtocolHandlerClientInterface.js"></script>
<script type="text/javascript" src="~/JS/GameLaunchAdRefresher.js"></script>
<script type="text/javascript" src="~/JS/Game/GamePlayEvents.js"></script>
<script type="text/javascript" src="~/JS/Interstitial.js"></script>
<script type="text/javascript" src="~/JS/webkit.js"></script>
<script type="text/javascript" src="~/JS/DropDownNav.js"></script>
<script type="text/javascript" src="~/JS/common/forms.js"></script>
<script type="text/javascript" src="~/JS/UpsellAdModal.js"></script>
<script type="text/javascript" src="~/JS/DeveloperConsoleWarning.js"></script>

<script type="text/javascript" src="~/JS/modules/Pages/Catalog.js"></script>

<script type="text/javascript" src="~/JS/viewapp/common/services/cacheService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/chatDispatchService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/errorMessageService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/eventStreamService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/friendsInfoService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/googleAnalyticsEventsService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/httpService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/hybridService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/imagesService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/localStorageService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/numericCodeService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/realtimeService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/playGameService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/retryService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/urlService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/userService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/performanceService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/services/regexService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/urlConstants.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/deviceTypes.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/performanceMarkLabels.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/presenceTypes.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/thumbnailResponseStatuses.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/thumbnailStatusStyleMap.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/thumbnailStyleConstants.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/httpStatusCodes.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/keyCode.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/callBackTypes.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/constants/localStorageNames.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/helpers.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/abbreviate.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/capitalize.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/camelCase.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/firstLetter.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/formatString.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/getPercentage.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/htmlToPlainText.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/isEmpty.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/orderList.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/parseTimeStamp.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/positive.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/reverse.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/startsWith.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/seoUrl.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/autoResizeDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/blurDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/clickOutsideDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/enterEscapeShiftDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/focusDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/focusMeDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/formValidationDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/hoverPopoverDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/imageRetryDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/inputMaxLength.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/keyPressEnterDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/keyPressEscapeDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/numbersOnlyDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/alphanumericInputDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/onFinishRenderDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/phoneDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/directives/switcherDirective.js"></script>
<script type="text/javascript" src="~/JS/viewapp/widgets/modal/modal.js"></script>
<script type="text/javascript" src="~/JS/viewapp/widgets/modal/services/modalStringService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/widgets/modal/constants/modalOptions.js"></script>
<script type="text/javascript" src="~/JS/viewapp/widgets/modal/services/modalService.js"></script>
<script type="text/javascript" src="~/JS/viewapp/widgets/modal/controllers/modalController.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/providers/languageResourceProvider.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/translate.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/translateParams.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/localNumberFormat.js"></script>
<script type="text/javascript" src="~/JS/viewapp/common/filters/datetime.js"></script>

<script type="text/javascript" src="~/JS/Develop/Develop.js"></script>
<script type="text/javascript" src="~/JS/modules/Pages/CatalogShared.js"></script>
<script type="text/javascript" src="~/JS/utilities/robloxAds.js"></script>
<script type="text/javascript" src="~/JS/history.js/jquery.history.js"></script>
<script type="text/javascript" src="~/JS/widgets/tabs.js"></script>
<script type="text/javascript" src="~/JS/jPlayer/jPlayerControls.js"></script>
<script type="text/javascript" src="~/JS/Events/AjaxPageLoadEvent.js"></script>
<script type="text/javascript" src="~/JS/jquery.filter_input.js"></script>
<script type="text/javascript" src="~/JS/jquery.ba-postmessage.min.js"></script>
<script type="text/javascript" src="~/JS/DataPager.js"></script>
<script type="text/javascript" src="~/JS/Build/BuildPage.js"></script>
<script type="text/javascript" src="~/JS/GenericModal.js"></script>
<script type="text/javascript" src="~/JS/js/Build/UniverseLoader.js"></script>
<script type="text/javascript" src="~/JS/Events/DownloadStudioButtonClickEvent.js"></script>
<script type="text/javascript" src="~/JS/Universes/PlaceSelectorModal.js"></script>
<script type="text/javascript" src="~/JS/TosModalCheck.js"></script>
<script type="text/javascript" src="~/JS/utilities/dialog.js"></script>
<script type="text/javascript" src="~/JS/Generated/js/Roblox_TranslationResources_Feature_ShopDialogResources_en_us_standard.js"></script>
<script type="text/javascript" src="~/JS/utilities/popover.js"></script>
<script type="text/javascript" src="~/JS/Navigation/ShopAmazon.js"></script>
<script type="text/javascript" src="~/JS/Generated/js/Roblox_TranslationResources_CommonUI_FeaturesResources_en_us_standard.js"></script>
<script type="text/javascript" src="~/JS/GenericConfirmation.js"></script>
<script type="text/javascript" src="~/JS/common/deviceMeta.js"></script>
<script type="text/javascript" src="~/JS/AbuseReport/AbuseReportDispatcher.js"></script>

<script type="text/javascript" src="~/JS/dist/js/legacyStyleGuide.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/dist/js/chat.bundle.min.js"></script>

<script type="text/javascript" src="~/JS/Generated/js/Roblox_TranslationResources_Feature_ChatResources_en_us_standard.js"></script>

<script type="text/javascript" src="~/JS/TosModalCheck.js"></script>
<script type="text/javascript" src="~/JS/TosModalCheck.js"></script>
<script type="text/javascript" src="~/JS/TosModalCheck.js"></script>
<script type="text/javascript" src="~/JS/TosModalCheck.js"></script>
<script type="text/javascript" src="~/JS/TosModalCheck.js"></script>
<script type="text/javascript" src="~/JS/TosModalCheck.js"></script>
<script type="text/javascript" src="~/JS/TosModalCheck.js"></script>
<script type="text/javascript" src="~/JS/TosModalCheck.js"></script>
<script type="text/javascript" src="~/JS/TosModalCheck.js"></script>

<link rel="stylesheet" href="~/CSS/YUIReset.css">
<link rel="stylesheet" href="~/CSS/LeanBaseStyle.css">
<link rel="stylesheet" href="~/CSS/RBXCommon.css">
<link rel="stylesheet" href="~/CSS/SeiteStyle.css">
<link rel="stylesheet" data-bundlename="LegacyStyleGuide" href="~/CSS/dist/css/ldegacyStyleGuide.css">
<link rel="stylesheet" data-bundlename="NotificationStream" href="~/CSS/dist/css/notificationStream.css">
<link rel="stylesheet" data-bundlename="Chat" href="~/CSS/dist/css/chat.css">
<link rel="stylesheet" href="~/CSS/Pages/Build/Develop.css">
<link rel="stylesheet" href="~/CSS/Pages/Build/BuildPage.css">
<link rel="stylesheet" href="~/CSS/Pages/Build/StudioWidget.css">
<link rel="stylesheet" href="~/CSS/Pages/Universes/PlaceSelectorModal.css">
<style>
    #MyCreationsTab .separator { display: none; }
    /* Hide Group Creations tab by default; JS will show it if the API is available */
    #GroupCreationsTabLink,
    #GroupCreationsTab { display: none; }
    /* Visually disable tabs except ones we want active */
    .tab-item.tab-item-disabled {
        color: #a7a7a760;
        pointer-events: none;
        cursor: default;
    }
</style>

}


<script type="text/javascript" src="~/JS/GameLauncher.js"></script>
<script type="text/javascript">
    // Global wrapper for editGameInStudio used by BuildPage.js
    function editGameInStudio(placeId, universeId, allowUpload) {
        Roblox.GameLauncher.editGameInStudio(placeId, universeId, allowUpload);
    }
</script>

    <link rel=canonical href=https://www.roblox.com/develop>
    <link href=https://images.rbxcdn.com/23421382939a9f4ae8bbe60dbe2a3e7e.ico.gzip rel=icon>
    <link onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) rel=stylesheet href=https://sstatic.rbxcdn.com/css/MainCSS___f4948a5439ec56700ef5e24d93b9c249_m.css/fetch>
    <link onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) rel=stylesheet data-bundlename=LegacyStyleGuide href=https://sstatic.rbxcdn.com/css/afdcab9fa313ccc1130b005a312d6a8c5134347b53d085fa88215fe5bc71a067.css/fetch>
    <link onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) rel=stylesheet data-bundlename=NotificationStream href=https://sstatic.rbxcdn.com/css/8e03cf8e84202810e737631ed5ee4dae790b444bf7607217cccc44be5c36133a.css/fetch>
    <link onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) rel=stylesheet href=https://sstatic.rbxcdn.com/css/page___0e68b651b048542ab589918dbfb33de1_m.css/fetch>
    <link onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) rel=stylesheet data-bundlename=Chat href=https://sstatic.rbxcdn.com/css/9d46ec11b9b7390ccf413684c834e0611c399e4cc18ba0d5f9368e4f01cb0ca9.css/fetch>
    <script>
        if (Roblox && Roblox.EventStream) {
            Roblox.EventStream.Init("//ecsv2.roblox.com/www/e.png", "//ecsv2.roblox.com/www/e.png", "//ecsv2.roblox.com/pe?t=studio", "//ecsv2.roblox.com/pe?t=diagnostic");
        }
    </script>
    <script>
        if (Roblox && Roblox.PageHeartbeatEvent) {
            Roblox.PageHeartbeatEvent.Init([2, 8, 20, 60]);
        }
    </script>
    <script>
        Roblox.config.externalResources = [];
        Roblox.config.paths['Pages.Catalog'] = '/JS/modules/Pages/Catalog.js';
        Roblox.config.paths['Pages.CatalogShared'] = '/JS/modules/Pages/CatalogShared.js';
        Roblox.config.paths['Widgets.AvatarImage'] = '/JS/modules/Widgets/AvatarImage.js';
        Roblox.config.paths['Widgets.DropdownMenu'] = '/JS/modules/Widgets/DropdownMenu.js';
        Roblox.config.paths['Widgets.GroupImage'] = '/JS/modules/Widgets/GroupImage.js';
        Roblox.config.paths['Widgets.HierarchicalDropdown'] = '/JS/modules/Widgets/HierarchicalDropdown.js';
        Roblox.config.paths['Widgets.ItemImage'] = '/JS/modules/Widgets/ItemImage.js';
        Roblox.config.paths['Widgets.PlaceImage'] = '/JS/modules/Widgets/PlaceImage.js';
    </script>
    <script onerror=Roblox.BundleDetector&amp;&amp;Roblox.BundleDetector.reportBundleError(this) data-monitor=true data-bundlename=angular src=https://jsd.rbxcdn.com/4b547f435344ed539d69e9cdec6ef1bc.js.gzip></script>
    <script>
        $(function() {
            Roblox.JSErrorTracker.initialize({
                'suppressConsoleError': true
            });
        });
    </script>
    <script>
        var Roblox = Roblox || {};
        Roblox.UpsellAdModal = Roblox.UpsellAdModal || {};
        Roblox.UpsellAdModal.Resources = {
            title: "Remove Ads Like This",
            body: "Builders Club members do not see external ads like these.",
            accept: "Upgrade Now",
            decline: "No, thanks"
        };
    </script>
    <script>
        Roblox.XsrfToken.setToken('YWAAzch9I3Qm');
    </script>
    <script>
        Roblox.FixedUI.gutterAdsEnabled = false;
    </script>
    <script>
        var Roblox = Roblox || {};
        Roblox.jsConsoleEnabled = false;
    </script>
    <script>
        $(function() {
            Roblox.DeveloperConsoleWarning.showWarning();
        });
    </script>
    <script>
        if (typeof(Roblox) === "undefined") {
            Roblox = {};
        }
        Roblox.Endpoints = Roblox.Endpoints || {};
        Roblox.Endpoints.Urls = Roblox.Endpoints.Urls || {};
    </script>
    <script>
        Roblox = Roblox || {};
        Roblox.AbuseReportPVMeta = {
            desktopEnabled: true,
            phoneEnabled: false,
            inAppEnabled: false
        };
    </script>

<body id=rbx-body data-performance-relative-value=0.005 data-internal-page-name=Create data-send-event-percentage=0>
    <div id=roblox-linkify data-enabled=true data-regex="(https?\:\/\/)?(?:www\.)?([a-z0-9-]{2,}\.)*(((m|de|www|web|api|blog|wiki|corp|polls|bloxcon|developer|devforum|forum)\.roblox\.com|robloxlabs\.com)|(www\.shoproblox\.com)|help\.roblox\.com(?![A-Za-z0-9\/.]*\/attachments\/))(?!\/[A-Za-z0-9-+&amp;@@#\/=~_|!:,.;]*%)((\/[A-Za-z0-9-+&amp;@@#\/%?=~_|!:,.;]*)|(?=\s|\b))" data-regex-flags=gm data-as-http-regex=(([^.]help|polls)\.roblox\.com)></div>
    <div id=image-retry-data data-image-retry-max-times=10 data-image-retry-timer=1500 data-ga-logging-percent=10></div>
    <div id=http-retry-data data-http-retry-max-timeout=0 data-http-retry-base-timeout=0 data-http-retry-max-times=1></div>
    <div ng-modules=baseTemplateApp>
        <script src=~/JS/Develop-Page.js></script>
    </div>
    <div ng-modules=pageTemplateApp>
        <script>
            "use strict";
            angular.module("pageTemplateApp", []).run(['$templateCache', function($templateCache) {}]);
        </script>
    </div>
   
        <div id=i18nForAmazonShopSwitch data-is-i18n-enabled-for-shop-amazon-dialog=true data-amazon-store-url="https://www.amazon.com/roblox?&amp;_encoding=UTF8&amp;tag=r05d13-20&amp;linkCode=ur2&amp;linkId=4ba2e1ad82f781c8e8cc98329b1066d0&amp;camp=1789&amp;creative=9325" style=display:none></div>
        <script>
            var Roblox = Roblox || {};
            (function() {
                if (Roblox && Roblox.Performance) {
                    Roblox.Performance.setPerformanceMark("navigation_end");
                }
            })();
        </script>
       
                        <div class=alert-container>
                            <noscript>
                                <div class=alert-info>Please enable Javascript to use all the features on this site.</div>
                            </noscript>
                        </div>
                        <div id=BodyWrapper>
                            <div id=RepositionBody>
                                <div id=Body class=body-width>
                                    <div id=TosAgreementInfo data-terms-check-needed=True></div>
                                    <input name=__RequestVerificationToken type=hidden value=O8SGGOTLBYZCL_ciYdANjJnIdSdNvnt6V2YWPXDJaTf7qTS1w7BiNy2X7bhlyr3ZZ46zcYek1cOne2ZM48Wz7sExeI81>
                                    <div id=DevelopTabs class=tab-container>
                                        <div id=MyCreationsTabLink class=tab-active data-url=/develop>My Creations</div>
                                        <div id=GroupCreationsTabLink data-url=/develop/groups data-default-get-url=/build/buildview>Group Creations</div>
                                        <div id=LibraryTabLink data-url=/develop/library data-library-get-url="/catalog/contents?CatalogContext=DevelopOnly&amp;Category=Models">Library</div>
                                    </div>
                                    <div>
                                        <div id=MyCreationsTab class=tab-active>
                                            <div class=BuildPageContent data-groupid="">
                                                <div class="creation-context-filters-and-sorts" data-fetchplaceurl="/develop/games-list" data-universeid="0" data-fetchuniverseplaces="false"></div>
                                                <input id=assetTypeId name=assetTypeId type=hidden value=0>
                                                <input data-val=true data-val-required="The IsTgaUploadEnabled field is required." id=isTgaUploadEnabled name=isTgaUploadEnabled type=hidden value=True>
                                                <table id=build-page data-asset-type-id=0 data-showcases-enabled=true data-edit-opens-studio=True>
                                                    <tr>
                                                        <td class="menu-area divider-right">
                                                            <a href="/develop?Page=universes" class="tab-item tab-item-disabled @(string.IsNullOrEmpty(viewParam) ? "tab-item-selected" : string.Empty)">Games</a>
                                                            <a href="/develop?view=9" class="tab-item tab-item-disabled @(viewParam == "9" ? "tab-item-selected" : string.Empty)">Places</a>
                                                            <a href="/develop?view=10" class="tab-item tab-item-disabled @(viewParam == "10" ? "tab-item-selected" : string.Empty)">Models</a>
                                                            <a href="/develop?view=13" class="tab-item tab-item-disabled @(viewParam == "13" ? "tab-item-selected" : string.Empty)">Decals</a>
                                                            <a href="/develop?view=21" class="tab-item tab-item-disabled @(viewParam == "21" ? "tab-item-selected" : string.Empty)">Badges</a>
                                                            <a href="/develop?Page=game-passes" class="tab-item tab-item-disabled">Game Passes</a>
                                                            <a href="/develop?view=3" class="tab-item tab-item-disabled @(viewParam == "3" ? "tab-item-selected" : string.Empty)">Audio</a>
                                                            <a href="/develop?view=24" class="tab-item tab-item-disabled @(viewParam == "24" ? "tab-item-selected" : string.Empty)">Animations</a>
                                                            <a href="/develop?view=40" class="tab-item tab-item-disabled @(viewParam == "40" ? "tab-item-selected" : string.Empty)">Meshes</a>
                                                            <a href="/develop?Page=ads" class="tab-item tab-item-disabled">User Ads</a>
                                                            <a href="/develop?Page=sponsored-games" class="tab-item tab-item-disabled">Sponsored Games</a>
                                                            <a href="/develop?view=11" class="tab-item tab-item-disabled @(viewParam == "11" ? "tab-item-selected" : string.Empty)">Shirts</a>
                                                            <a href="/develop?view=2" class="tab-item @(viewParam == "2" ? "tab-item-selected" : string.Empty)">T-Shirts</a>
                                                            <a href="/develop?view=12" class="tab-item tab-item-disabled @(viewParam == "12" ? "tab-item-selected" : string.Empty)">Pants</a>
                                                            <a href="/develop?view=38" class="tab-item tab-item-disabled @(viewParam == "38" ? "tab-item-selected" : string.Empty)">Plugins</a>

                                                            <div id=StudioWidget>
                                                                <div class=widget-name>
                                                                    <h3>Developer Resources</h3>
                                                                </div>
                                                                <div class=content>
                                                                    <div id=LeftColumn>
                                                                        <div class=studio-icon><img src=https://images.rbxcdn.com/3da410727fa2670dcb4f31316643138a.svg.gzip></div>
                                                                    </div>
                                                                    <div id=RightColumn>
                                                                        <ul>
                                                                            <li><a href=https://s3.amazonaws.com/setup.roblox.com/RobloxStudioLauncherBeta.exe class=studio-launch download>Studio</a>
                                                                            <li><a href="https://www.robloxdev.com/">Docs</a>
                                                                            <li><a href="https://devforum.roblox.com/">Community</a>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <td class=content-area>
                                                            <div class=items-container></div>
                                                            <div class=build-loading-container style=display:none>
                                                                <div class=buildpage-loading-container><img alt=^_^ src=https://images.rbxcdn.com/ec4e85b0c4396cf753a06fade0a8d8af.gif></div>
                                                            </div>
                                                </table>
                                                <div id=build-dropdown-menu><a href=# data-href-reference=configure-url>Configure Game</a> <a href=# data-require-root-place=true data-configure-place-template=https://web.roblox.com/places/0/update>Configure Start Place</a> <a href=# data-href-reference=configure-localization-url id=configure-localization-link>Configure Localization</a> <a href=# class=divider-top data-href-reference=create-badge-url data-require-root-place=true>Create Badge</a> <a href=# data-href-reference=create-gamepass-url data-require-root-place=true>Create Game Pass</a> <a href="https://web.roblox.com/catalog/browse.aspx?Category=5&amp;showInstructions=true" data-require-root-place=true>Add Gear</a> <a href=# data-href-reference=developerstats-url data-require-root-place=true>Developer Stats</a> <a href=# data-href-reference=advertise-url class=divider-top>Advertise</a> <a href=# class=sponsorGameLink data-href-template=https://web.roblox.com/sponsored-games/create/0 data-require-root-place=true>Sponsor</a> <a class="shutdown-all-servers-button divider-top" href=# data-require-root-place=true>Shut Down All Servers</a></div>
                                                <div class="PlaceSelectorModal modalPopup unifiedModal" style=display:none>
                                                    <div class=Title>Select Place</div>
                                                    <div class="GenericModalBody text">
                                                        <div class=place-selector-modal data-place-loader-url="/universes/get-places-by-context?creationContext=NonGameCreation&amp;universeId=0&amp;groupId=&amp;ignoreRootPlace=False">
                                                            <div class=place-selector-container>
                                                                <div id=PlaceSelectorItemContainer class=place-selector-item-container></div>
                                                                <div id=PlaceSelectorPagerContainer class=place-selector-pager-container></div>
                                                            </div>
                                                            <div class="place-selector selectable template" title=Place style=display:none>
                                                                <div class=place-image data-retry-url-template="/asset-thumbnail/json?height=100&amp;width=160&amp;format=jpeg&amp;returnAutoGenerated=True"><img alt=^_^ class=item-image src=https://images.rbxcdn.com/ec5c01d220bf1b73403fa51519267742.gif></div>
                                                                <div class=InfoContainer>
                                                                    <div class=place-name></div>
                                                                    <div class=game-name><span class=form-label>Game: </span><span class=game-name-text></span></div>
                                                                    <div class=root-place style=display:none><span>Cannot choose start places</span></div>
                                                                </div>
                                                                <div style=clear:both></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    $(function() {
                                                        Roblox.PlaceSelector.Init();
                                                        Roblox.PlaceSelector.Resources = {
                                                            anErrorOccurred: 'An error occurred, please try again.'
                                                        };
                                                    });
                                                </script>
                                                <div class="GenericModal modalPopup unifiedModal smallModal" style=display:none>
                                                    <div class=Title></div>
                                                    <div class=GenericModalBody>
                                                        <div>
                                                            <div class=ImageContainer><img class=GenericModalImage alt="generic image"></div>
                                                            <div class=Message></div>
                                                        </div>
                                                        <div class=GenericModalButtonContainer><a class="ImageButton btn-neutral btn-large roblox-ok">OK</a></div>
                                                    </div>
                                                </div>
                                                <script>
                                                    Roblox = Roblox || {};
                                                    Roblox.BuildPage = Roblox.BuildPage || {};
                                                    Roblox.BuildPage.AlertURL = "https://images.rbxcdn.com/43ac54175f3f3cd403536fedd9170c10.png";
                                                </script>
                                            </div>
                                            <script>
                                                if (typeof Roblox === "undefined") {
                                                    Roblox = {};
                                                }
                                                if (typeof Roblox.BuildPage === "undefined") {
                                                    Roblox.BuildPage = {};
                                                }
                                                Roblox.BuildPage.Resources = {
                                                    active: "Public",
                                                    inactive: "Private",
                                                    activatePlace: "Make Place Public",
                                                    editGame: "Edit Game",
                                                    ok: "OK",
                                                    robloxStudio: "ROBLOX Studio",
                                                    openIn: "To edit this game, open to this page in ",
                                                    placeInactive: "Make Place Private",
                                                    toBuileHere: "To build here, please activate this place by clicking the ",
                                                    inactiveButton: "inactive button. ",
                                                    createModel: "Create Model",
                                                    toCreate: "To create models, please use ",
                                                    makeActive: "Make Public",
                                                    makeInactive: "Make Private",
                                                    purchaseComplete: "Purchase Complete!",
                                                    youHaveBid: "You have successfully bid ",
                                                    confirmBid: "Confirm the Bid",
                                                    placeBid: "Place Bid",
                                                    cancel: "Cancel",
                                                    errorOccurred: "Error Occurred",
                                                    adDeleted: "Ad Deleted",
                                                    theAdWasDeleted: "The Ad has been deleted.",
                                                    confirmDelete: "Confirm Deletion",
                                                    areYouSureDelete: "Are you sure you want to delete this Ad?",
                                                    bidRejected: "Your bid was Rejected",
                                                    bidRange: "Bid value must be a number between ",
                                                    bidRange2: "Bid value must be a number greater than ",
                                                    and: " and ",
                                                    yourRejected: "Your bid was Rejected",
                                                    estimatorExplanation: "This estimator uses data from ads run yesterday to guess how many impressions your ad will recieve.",
                                                    estimatedImpressions: "Estimated Impressions ",
                                                    makeAdBid: "Make Ad Bid",
                                                    wouldYouLikeToBid: "Would you like to bid ",
                                                    verify: "Verify",
                                                    emailVerifiedTitle: "Verify Your Email",
                                                    emailVerifiedMessage: "You must verify your email before you can work on your place. You can verify your email on the <a href='https://web.roblox.com/my/account?confirmemail=1'>Account</a> page.",
                                                    continueText: "Continue",
                                                    profileRemoveTitle: "Remove from profile?",
                                                    profileRemoveMessage: "This game is private and listed on your profile, do you wish to remove it?",
                                                    profileAddTitle: "Add to profile?",
                                                    profileAddMessage: "This game is public, but not listed on your profile, do you wish to add it?",
                                                    deactivateTitle: "Make Game Private",
                                                    deactivateBody: "This will shut down any running games <br /><br />Do you still want to make this game private?",
                                                    deactivateButton: "Make Private",
                                                    questionmarkImgUrl: "https://static.rbxcdn.com/images/Buttons/questionmark-12x12.png",
                                                    activationRequestFailed: "Request to make game public failed. Please retry in a few minutes!",
                                                    deactivationRequestFailed: "Request to make game private failed. Please retry in a few minutes!",
                                                    tooManyActiveMessage: "You have reached the maximum number of public places for your membership level. Make one of your existing places private before making this place public.",
                                                    activeSlotsMessage: "{0} of {1} public slots used"
                                                };
                                            </script>
                                        </div>
                                        <div id=GroupCreationsTab>
                                            <div class=BuildPageContent data-groupid=4436366>
                                                <div class="creation-context-filters-and-sorts" data-fetchplaceurl="/develop/groups/games-list" data-universeid="0" data-fetchuniverseplaces="false"></div>
                                                <input id=assetTypeId name=assetTypeId type=hidden value=0>
                                                <input data-val=true data-val-number="The field GroupID must be a number." data-val-required="The GroupID field is required." id=groupId name=groupId type=hidden value=4436366>
                                                <input data-val=true data-val-required="The IsTgaUploadEnabled field is required." id=isTgaUploadEnabled name=isTgaUploadEnabled type=hidden value=True>
                                                <table id=build-page data-asset-type-id=0 data-showcases-enabled=true data-edit-opens-studio=True>
                                                    <tr>
                                                        <td class="menu-area divider-right">
                                                            <div class=groups-dropdown-container data-get-url=https://web.roblox.com/develop/groups>
                                                                <label class=sort-label>Select Group:</label>
                                                                <select data-val=true data-val-number="The field SelectedGroupId must be a number." id=SelectedGroupId name=SelectedGroupId>
                                                                    <option selected value=4436366>Loganh4005&#39;s Studio</option>
                                                                </select>
                                                            </div><a href="https://web.roblox.com/develop/groups/4436366?Page=universes" class="tab-item tab-item-selected">Games</a> <a href="https://web.roblox.com/develop/groups/4436366?View=9" class=tab-item>Places</a> <a href="https://web.roblox.com/develop/groups/4436366?View=10" class=tab-item>Models</a> <a href="https://web.roblox.com/develop/groups/4436366?View=13" class=tab-item>Decals</a> <a href="https://web.roblox.com/develop/groups/4436366?View=21" class=tab-item>Badges</a> <a href="https://web.roblox.com/develop/groups/4436366?Page=game-passes" class=tab-item>Game Passes</a> <a href="https://web.roblox.com/develop/groups/4436366?View=3" class=tab-item>Audio</a> <a href="https://web.roblox.com/develop/groups/4436366?View=24" class=tab-item>Animations</a> <a href="https://web.roblox.com/develop/groups/4436366?View=40" class=tab-item>Meshes</a> <a href="https://web.roblox.com/develop/groups/4436366?Page=ads" class=tab-item>User Ads</a> <a href="https://web.roblox.com/develop/groups/4436366?Page=sponsored-games" class=tab-item>Sponsored Games</a> <a href="https://web.roblox.com/develop/groups/4436366?View=11" class=tab-item>Shirts</a> <a href="https://web.roblox.com/develop/groups/4436366?View=2" class=tab-item>T-Shirts</a> <a href="https://web.roblox.com/develop/groups/4436366?View=12" class=tab-item>Pants</a> <a href="https://web.roblox.com/develop/groups/4436366?View=38" class=tab-item>Plugins</a>
                                                            <div id=StudioWidget>
                                                                <div class=widget-name>
                                                                    <h3>Developer Resources</h3>
                                                                </div>
                                                                <div class=content>
                                                                    <div id=LeftColumn>
                                                                        <div class=studio-icon><img src=https://images.rbxcdn.com/3da410727fa2670dcb4f31316643138a.svg.gzip></div>
                                                                    </div>
                                                                    <div id=RightColumn>
                                                                        <ul>
                                                                            <li><a href=https://s3.amazonaws.com/setup.roblox.com/RobloxStudioLauncherBeta.exe class=studio-launch download>Studio</a>
                                                                            <li><a href="https://www.robloxdev.com/">Docs</a>
                                                                            <li><a href="https://devforum.roblox.com/">Community</a>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        <td class=content-area><a href=https://web.roblox.com/places/create/4436366 id=CreatePlace class="create-new-button btn-medium btn-primary">Create New Game</a>
                                                            <table class=section-header>
                                                                <tr>
                                                                    <td class=content-title>
                                                                        <div>
                                                                            <h2 class=header-text>Games</h2><span class=aside-text data-active-count=5 data-max-active-count=200></span>
                                                                            <label class="checkbox-label active-only-checkbox">
                                                                                <input type=checkbox>Show Public Only</label>
                                                                        </div>
                                                            </table>
                                                           
                                                                <div class=separator></div>
                                                            </div>
                                                            <div class=build-loading-container style=display:none>
                                                                <div class=buildpage-loading-container><img alt=^_^ src=https://images.rbxcdn.com/ec4e85b0c4396cf753a06fade0a8d8af.gif></div>
                                                            </div>
                                                </table>
                                                <div id=build-dropdown-menu><a href=# data-href-reference=configure-url>Configure Game</a> <a href=# data-require-root-place=true data-configure-place-template=https://web.roblox.com/places/0/update>Configure Start Place</a> <a href=# data-href-reference=configure-localization-url id=configure-localization-link>Configure Localization</a> <a href=# class=divider-top data-href-reference=create-badge-url data-require-root-place=true>Create Badge</a> <a href=# data-href-reference=create-gamepass-url data-require-root-place=true>Create Game Pass</a> <a href="https://web.roblox.com/catalog/browse.aspx?Category=5&amp;showInstructions=true" data-require-root-place=true>Add Gear</a> <a href=# data-href-reference=developerstats-url data-require-root-place=true>Developer Stats</a> <a href=# data-href-reference=advertise-url class=divider-top>Advertise</a> <a href=# class=sponsorGameLink data-href-template=https://web.roblox.com/sponsored-games/create/0 data-require-root-place=true>Sponsor</a> <a class="shutdown-all-servers-button divider-top" href=# data-require-root-place=true>Shut Down All Servers</a></div>
                                                <div class="PlaceSelectorModal modalPopup unifiedModal" style=display:none>
                                                    <div class=Title>Select Place</div>
                                                    <div class="GenericModalBody text">
                                                        <div class=place-selector-modal data-place-loader-url="/universes/get-places-by-context?creationContext=NonGameCreation&amp;universeId=0&amp;groupId=4436366&amp;ignoreRootPlace=False">
                                                            <div class=place-selector-container>
                                                                <div id=PlaceSelectorItemContainer class=place-selector-item-container></div>
                                                                <div id=PlaceSelectorPagerContainer class=place-selector-pager-container></div>
                                                            </div>
                                                            <div class="place-selector selectable template" title=Place style=display:none>
                                                                <div class=place-image data-retry-url-template="/asset-thumbnail/json?height=100&amp;width=160&amp;format=jpeg&amp;returnAutoGenerated=True"><img alt=^_^ class=item-image src=https://images.rbxcdn.com/ec5c01d220bf1b73403fa51519267742.gif></div>
                                                                <div class=InfoContainer>
                                                                    <div class=place-name></div>
                                                                    <div class=game-name><span class=form-label>Game: </span><span class=game-name-text></span></div>
                                                                    <div class=root-place style=display:none><span>Cannot choose start places</span></div>
                                                                </div>
                                                                <div style=clear:both></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <script>
                                                    $(function() {
                                                        Roblox.PlaceSelector.Init();
                                                        Roblox.PlaceSelector.Resources = {
                                                            anErrorOccurred: 'An error occurred, please try again.'
                                                        };
                                                    });
                                                </script>
                                                <div class="GenericModal modalPopup unifiedModal smallModal" style=display:none>
                                                    <div class=Title></div>
                                                    <div class=GenericModalBody>
                                                        <div>
                                                            <div class=ImageContainer><img class=GenericModalImage alt="generic image"></div>
                                                            <div class=Message></div>
                                                        </div>
                                                        <div class=GenericModalButtonContainer><a class="ImageButton btn-neutral btn-large roblox-ok">OK</a></div>
                                                    </div>
                                                </div>
                                                <script>
                                                    Roblox = Roblox || {};
                                                    Roblox.BuildPage = Roblox.BuildPage || {};
                                                    Roblox.BuildPage.AlertURL = "https://images.rbxcdn.com/43ac54175f3f3cd403536fedd9170c10.png";
                                                </script>
                                            </div>
                                            <div class=Ads_WideSkyscraper></div>
                                            <script>
                                                if (typeof Roblox === "undefined") {
                                                    Roblox = {};
                                                }
                                                if (typeof Roblox.BuildPage === "undefined") {
                                                    Roblox.BuildPage = {};
                                                }
                                                Roblox.BuildPage.Resources = {
                                                    active: "Public",
                                                    inactive: "Private",
                                                    activatePlace: "Make Place Public",
                                                    editGame: "Edit Game",
                                                    ok: "OK",
                                                    robloxStudio: "ROBLOX Studio",
                                                    openIn: "To edit this game, open to this page in ",
                                                    placeInactive: "Make Place Private",
                                                    toBuileHere: "To build here, please activate this place by clicking the ",
                                                    inactiveButton: "inactive button. ",
                                                    createModel: "Create Model",
                                                    toCreate: "To create models, please use ",
                                                    makeActive: "Make Public",
                                                    makeInactive: "Make Private",
                                                    purchaseComplete: "Purchase Complete!",
                                                    youHaveBid: "You have successfully bid ",
                                                    confirmBid: "Confirm the Bid",
                                                    placeBid: "Place Bid",
                                                    cancel: "Cancel",
                                                    errorOccurred: "Error Occurred",
                                                    adDeleted: "Ad Deleted",
                                                    theAdWasDeleted: "The Ad has been deleted.",
                                                    confirmDelete: "Confirm Deletion",
                                                    areYouSureDelete: "Are you sure you want to delete this Ad?",
                                                    bidRejected: "Your bid was Rejected",
                                                    bidRange: "Bid value must be a number between ",
                                                    bidRange2: "Bid value must be a number greater than ",
                                                    and: " and ",
                                                    yourRejected: "Your bid was Rejected",
                                                    estimatorExplanation: "This estimator uses data from ads run yesterday to guess how many impressions your ad will recieve.",
                                                    estimatedImpressions: "Estimated Impressions ",
                                                    makeAdBid: "Make Ad Bid",
                                                    wouldYouLikeToBid: "Would you like to bid ",
                                                    verify: "Verify",
                                                    emailVerifiedTitle: "Verify Your Email",
                                                    emailVerifiedMessage: "You must verify your email before you can work on your place. You can verify your email on the <a href='https://web.roblox.com/my/account?confirmemail=1'>Account</a> page.",
                                                    continueText: "Continue",
                                                    profileRemoveTitle: "Remove from profile?",
                                                    profileRemoveMessage: "This game is private and listed on your profile, do you wish to remove it?",
                                                    profileAddTitle: "Add to profile?",
                                                    profileAddMessage: "This game is public, but not listed on your profile, do you wish to add it?",
                                                    deactivateTitle: "Make Game Private",
                                                    deactivateBody: "This will shut down any running games <br /><br />Do you still want to make this game private?",
                                                    deactivateButton: "Make Private",
                                                    questionmarkImgUrl: "https://static.rbxcdn.com/images/Buttons/questionmark-12x12.png",
                                                    activationRequestFailed: "Request to make game public failed. Please retry in a few minutes!",
                                                    deactivationRequestFailed: "Request to make game private failed. Please retry in a few minutes!",
                                                    tooManyActiveMessage: "You have reached the maximum number of public places for your membership level. Make one of your existing places private before making this place public.",
                                                    activeSlotsMessage: "{0} of {1} public slots used"
                                                };
                                            </script>
                                        </div>
                                        <div id=LibraryTab>
                                            <div class=loading id=LibraryLoadingIndicatorContainer><img id=LibraryLoadingIndicator src=https://images.rbxcdn.com/ec4e85b0c4396cf753a06fade0a8d8af.gif alt=Progress></div>
                                        </div>
                                    </div>
                                    <div id=AdPreviewModal class=simplemodal-data style=display:none>
                                        <div id=ConfirmationDialog style=overflow:hidden>
                                            <div id=AdPreviewContainer style=overflow:hidden></div>
                                        </div>
                                    </div>
                                    <script>
                                        Roblox.CatalogValues = Roblox.CatalogValues || {};
                                        Roblox.CatalogValues.CatalogContentsUrl = "/catalog/contents";
                                        Roblox.CatalogValues.CatalogContext = 2;
                                        Roblox.CatalogValues.CatalogContextDevelopOnly = 2;
                                        Roblox.CatalogValues.ContainerID = "LibraryTab";
                                        $(function() {
                                            if (Roblox && Roblox.AdsHelper && Roblox.AdsHelper.AdRefresher) {
                                                Roblox.AdsHelper.AdRefresher.globalCreateNewAdEnabled = true;
                                                Roblox.AdsHelper.AdRefresher.adRefreshRateInMilliseconds = 3000;
                                            }
                                        });
                                    </script>
                                    <div style=clear:both></div>
                                </div>
                            </div>
                        </div>

    <div class="notification-stream-base gotham-font" notification-stream-base></div>
    
    <div class="ConfirmationModal modalPopup unifiedModal smallModal" data-modal-handle=confirmation style=display:none>
        <a class="genericmodal-close ImageButton closeBtnCircle_20h"></a>
        <div class=Title></div>
        <div class=GenericModalBody>
            <div class=TopBody>
                <div class="ImageContainer roblox-item-image" data-image-size=small data-no-overlays data-no-click><img class=GenericModalImage alt="generic image"></div>
                <div class=Message></div>
            </div>
            <div class="ConfirmationModalButtonContainer GenericModalButtonContainer"><a href="" id=roblox-confirm-btn><span></span></a> <a href="" id=roblox-decline-btn><span></span></a></div>
            <div class=ConfirmationModalFooter></div>
        </div>
        <script>
            Roblox = Roblox || {};
            Roblox.Resources = Roblox.Resources || {};
            Roblox.Resources.GenericConfirmation = {
                yes: "Yes",
                No: "No",
                Confirm: "Confirm",
                Cancel: "Cancel"
            };
        </script>
    </div>
<script>
    // Auto-load games list for My Creations tab and remove initial separator
    // Also probe group games endpoint and hide Group Creations tab if it 404s
    $(function () {
        // Ensure the gray separator is removed/hid immediately
        $('#MyCreationsTab .separator').remove();

        function showEmptyMessage($container) {
            $container.html('<div class="no-games-text">You have no games yet. Create one with the "Create New Game" button!</div>');
        }

        let currentView = '@viewParam';
        function getEndpointForView(viewId) {
            switch (viewId) {
                case '9': return '/develop/asset-list/9'; // Places
                case '10': return '/develop/asset-list/10'; // Models
                case '13': return '/develop/asset-list/13'; // Decals
                case '21': return '/develop/asset-list/21'; // Badges
                case '3': return '/develop/asset-list/3'; // Audio
                case '24': return '/develop/asset-list/24'; // Animations
                case '40': return '/develop/asset-list/40'; // Meshes
                case '11': return '/develop/asset-list/11'; // Shirts
                case '2': return '/develop/asset-list/2'; // T-Shirts
                case '12': return '/develop/asset-list/12'; // Pants
                case '38': return '/develop/asset-list/38'; // Plugins
                default: return '/develop/games-list'; // Games (default)
            }
        }

        function loadMyItems() {
            var $itemsContainer = $('#MyCreationsTab .items-container');

            // Show loading spinner
            var $loading = $('<div class=\'buildpage-loading-container\'><img alt=\'Loading...\' src=\'https://images.rbxcdn.com/ec4e85b0c4396cf753a06fade0a8d8af.gif\'></div>');
            $itemsContainer.empty().append($loading);

            $.ajax({
                url: getEndpointForView(currentView),
                dataType: 'html'
            }).done(function (data) {
                $loading.remove();
                if (data && $.trim(data).length) {
                    $itemsContainer.html(data);
                    // Initialize thumbnail retries if helper exists
                    if ($.fn.loadRobloxThumbnails) {
                        $itemsContainer.find('a[data-retry-url]').loadRobloxThumbnails();
                    }
                } else {
                    showEmptyMessage($itemsContainer);
                }
            }).fail(function (xhr) {
                $loading.remove();
                if (xhr.status === 404) {
                    showEmptyMessage($itemsContainer);
                } else {
                    $itemsContainer.text('Failed to load games. Please try again later.');
                }
            });
        }

        function probeGroupCreations() {
            // Lightweight HEAD/GET just to see if endpoint exists
            $.ajax({
                url: '/develop/groups/games-list',
                type: 'GET',
                dataType: 'html'
            }).done(function (data) {
                if (data && $.trim(data).length) {
                    // API is available and returned content; show the tab and content area
                    $('#GroupCreationsTabLink').show();
                    $('#GroupCreationsTab').show();
                }
            });
        }

        loadMyItems();

        // Intercept tab clicks within My Creations menu so we can AJAX-load
        $('#MyCreationsTab .menu-area').on('click', 'a.tab-item', function (evt) {
            if (!/view=\d+/i.test($(this).attr('href'))) {
                return; // let default navigation occur for non-view tabs
            }
            const href = $(this).attr('href') || '';
            const match = href.match(/view=(\d+)/i);
            currentView = match ? match[1] : '';

            // Visually update selected tab
            $(this).siblings('.tab-item').removeClass('tab-item-selected');
            $(this).addClass('tab-item-selected');

            // Update header title
            const headerText = $(this).text();
            $('#MyCreationsTab .header-text').text(headerText);

            // Load new items for selected view
            loadMyItems();

            // Prevent full page reload
            evt.preventDefault();
        });
        probeGroupCreations();
    });
</script>
</body>
</html>